<style>
    .country_container {
        width: 100%;
        height: 100vh;
        position: relative;
    }
    .country_container .mask {
        
    }
</style>
<div class="country_container">
    <div class="mask"></div>
</div>