{{ 'new-3500pro.css' | asset_url | stylesheet_tag }}
<div class="ltv-3500pro_container">
  <div class="w_1800 margin_center image_container">
    <div class="inner_text">
      <div class="text_subtitle color_black">
        LTV-3500 Pro
      </div>
      <div class="text_maintitle color_black">The Brightest 4K 3D RGB<br> Laser Projector</div>
    </div>
    <img class="first_image pc" src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/3500_01.webp?v=1732785368" alt="The Brightest 4K 3D RGB Laser Projector" loading="lazy">
    <img class="first_image mobile" src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/3500_01_m.webp?v=1732792484" alt="The Brightest 4K 3D RGB Laser Projector" loading="lazy">
  </div>
  <div class="w_1200 margin_center margin-top-120 image_container">
    <img class="normal_img pc" src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/3500pro_02_pc.webp?v=1732604970" alt="3500pro params" />
    <img class="normal_img mobile" src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/new-3500pro_02.webp?v=1732605002" alt="3500pro params" />
  </div>
  <div class="ltv-3500pro_costomer_reviews w_1200 margin_center">
    <div class="header">
      Reviews by Top Influencers
    </div>
    <div class="youtube_container swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide youtube_video_item">
          <iframe src="https://www.youtube.com/embed/ev9jbrMdeFQ" title="Upgrading my TV to a 150-inch LASER PROJECTOR! [AWOL Vision LTV-3500 Pro]" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="swiper-slide youtube_video_item">
          <iframe src="https://www.youtube.com/embed/YkKQRr7FRkw" title="120&quot; AWOL Floor Rising Screen w/LTV-3500 Pro 3D Laser TV" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>
      <div class="swiper_container">
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>
  <div class="margin-top-120 image_container">
    <div class="out_text">
      <div class="text_maintitle color_white">3500 Peak Lumens Brightness</div>
      <div class="text_subtitle color_white">The brightest and capable of daytime. Viewing on screens up to 150 inches</div>
    </div>
    <img class="normal_img pc" src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/3500_03.webp?v=1732785368" alt="3500 Peak Lumens Brightness">
    <img class="normal_img mobile no_padding" src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/3500_03_m.webp?v=1732010890" alt="3500 Peak Lumens Brightness">
  </div>
  <div class="w_1200 margin_center margin-top-120 image_container">
    <div class="flex_text">
      <div class="text_maintitle color_white">Close-to-Perfection Clarity Even on 150"</div>
      <div class="text_subtitle color_white">In both upper corners of the image, the focus and clarity are close to perfection. You can almost see the pixels appearing when you get too close.</div>
    </div>
    <img class="normal_img pc" src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/3500_04.webp?v=1731984451" alt="Close-to-Perfection Clarity Even on 150">
    <img class="normal_img mobile" src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/3500_04_m.webp?v=1731897470" alt="Close-to-Perfection Clarity Even on 150">
  </div>
  <div class="w_1200 margin_center margin-top-120 image_container grid-temple">
    <div class="out_text">
      <div class="text_maintitle color_white">The World's 1st UST Projector & Center Speaker</div>
      <div class="text_subtitle color_white">AWOL Vision's groundbreaking CenterSync technology turns your UST projector into a center channel speaker. Unlocking 5.2.2 surround sound with ThunderBeat for an unparalleled home theater experience.</div>
    </div>
    <img class="normal_img pc" src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/3500_05.webp?v=1731984451" alt="The World's 1st UST Projector & Center Speaker">
    <img class="normal_img mobile no_padding" src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/3500_05_m.webp?v=1731927012" alt="The World's 1st UST Projector & Center Speaker">
  </div>
  <div class="w_1200 margin_center margin-top-120 image_container">
    <div class="flex_text">
      <div class="text_maintitle color_white">True-to Life One + Billion Colors</div>
      <div class="text_subtitle color_white">The color palette and behavior are handled flawlessly whether for SDR or HDR content.</div>
    </div>
    <img class="normal_img pc" src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/3500_06.webp?v=1731984451" alt="True-to Life One + Billion Colors">
    <img class="normal_img mobile" src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/3500_06_m.webp?v=1731897470" alt="True-to Life One + Billion Colors">
  </div>
  <div class="w_1200 margin_center margin-top-40 image_container">
    <div class="out_text">
      <div class="text_maintitle color_white">Dolby Vision</div>
      <div class="text_subtitle color_white">With Dolby Vision, AWOL Theater is the only RGB UST projector in the market that offers Dolby Vision, HDR10+, Dolby Atmos, and Active 3D. It stands out as the most comprehensive ultra-short throw RGB laser projector available.</div>
    </div>
    <img class="normal_img pc" src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/3500_07.webp?v=1731984451" alt="Dolby Vision">
    <img class="normal_img mobile" src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/3500_07_m.webp?v=1731897470" alt="Dolby Vision">
  </div>
  <div class="margin-top-120 image_container">
    <div class="flex_text w_1200 margin_center">
      <div class="text_maintitle color_white">Stunning 3D performance</div>
      <div class="text_subtitle color_white">Better than IMAX 3D, you will experience an immersive "journey" with a movie.</div>
    </div>
    <img class="normal_img no_padding pc" src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/3500_08.webp?v=1732008385" alt="Stunning 3D performance">
    <img class="normal_img no_padding mobile" src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/3500_08_m.webp?v=1731897470" alt="Stunning 3D performance">
  </div>
  <div class="ltv-3500pro_container_inner one w_1200 margin_center margin-top-120">
    <div class="ltv-3500pro_swiper_01 swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide ltv-3500pro_swiper_01_item">
          <img class="pc" src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/3500pro_09_pc.webp?v=1731984451" alt="Exhibits the lowest-ever large screen time lag of 8ms to ensure that all your gaming action is real-time.">
          <img class="mobile" src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/new-3500pro_09.webp?v=1731897470" alt="Exhibits the lowest-ever large screen time lag of 8ms to ensure that all your gaming action is real-time.">
          <div class="item_desc">
            Exhibits the lowest-ever large screen time lag of 8ms to ensure that all your gaming action is real-time.
          </div>
        </div>
        <div class="swiper-slide ltv-3500pro_swiper_01_item">
          <img class="pc" src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/3500pro_10_pc.webp?v=1731984451" alt="With movie mode, the AWOL delivers the original 24Hz to the screen without adding extra frames or 3:2 pulldown judde,display movies exactly as the director intended.">
          <img class="mobile" src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/new-3500pro_10.webp?v=1731897470" alt="With movie mode, the AWOL delivers the original 24Hz to the screen without adding extra frames or 3:2 pulldown judde,display movies exactly as the director intended.">
          <div class="item_desc">
            With movie mode, the AWOL delivers the original 24Hz to the screen without adding extra frames or 3:2 pulldown judde,display movies exactly as the director intended. 
          </div>
        </div>
        <div class="swiper-slide ltv-3500pro_swiper_01_item">
          <img class="pc" src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/3500pro_11_pc.webp?v=1731984451" alt="By employing advanced height virtualization techniques on top of traditional stereo,AWOL deliver an Immersion audio experience.">
          <img class="mobile" src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/new-3500pro_11.webp?v=1731897470" alt="By employing advanced height virtualization techniques on top of traditional stereo,AWOL deliver an Immersion audio experience.">
          <div class="item_desc">
            By employing advanced height virtualization techniques on top of traditional stereo,AWOL deliver an Immersion audio experience.
          </div> 
        </div>
      </div>
      <div>
        <div class="swiper_container">
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="margin-top-120 image_container">
    <div class="flex_text w_1200 margin_center">
      <div class="text_maintitle color_white">Smart Room Ready</div>
      <div class="text_subtitle color_white">AWOL is now seamlessly integrated with Control4,  which easily controls our projector's power, volume, HDMI source switching and more through Control4.</div>
    </div>
    <img class="normal_img no_padding pc" src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/3500_12.webp?v=1732785369" alt="Smart Room Ready">
    <img class="normal_img no_padding mobile" src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/3500_12_m.webp?v=1731927000" alt="Smart Room Ready">
  </div>
  <div class="w_1200 margin_center margin-top-120 image_container">
    <div class="out_text">
      <div class="text_maintitle color_white">Enhanced Black Level </div>
      <div class="text_subtitle color_white">The implementation of laser dimming technology has greatly improved contrast, leading to a significant enhancement in image quality.</div>
    </div>
    <img class="normal_img pc" src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/3500_13.webp?v=1731984451" alt="Enhanced Black Level">
    <img class="normal_img mobile" src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/3500_13_m.webp?v=1731897470" alt="Enhanced Black Level">
  </div>
  <div class="ltv-3500pro_container_inner two w_1200 margin_center margin-top-120">
    <div class="ltv-3500pro_swiper_02 swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide ltv-3500pro_swiper_01_item">
          <img class="pc" src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/3500pro_14_pc.webp?v=1731984451" alt="The unique feature provides you with the flexibility to fine-tune the color settings for optimal precision, display accurate lifelike colors to best match your viewing environment.">
          <img class="mobile" src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/new-3500pro_14.webp?v=1731897470" alt="The unique feature provides you with the flexibility to fine-tune the color settings for optimal precision, display accurate lifelike colors to best match your viewing environment.">
          <div class="item_desc">
            The unique feature provides you with the flexibility to fine-tune the color settings for optimal precision, display accurate lifelike colors to best match your viewing environment.
          </div>
        </div>
        <div class="swiper-slide ltv-3500pro_swiper_01_item">
          <img class="pc" src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/3500pro_15_pc.webp?v=1731984451" alt="Effortlessly zoom to the ideal size, then use our 8-Point Keystone to fine-tune each corner for a perfectly aligned image that fits seamlessly to your screen—even in challenging setups.">
          <img class="mobile" src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/new-3500pro_15.webp?v=1731897470" alt="Effortlessly zoom to the ideal size, then use our 8-Point Keystone to fine-tune each corner for a perfectly aligned image that fits seamlessly to your screen—even in challenging setups.">
          <div class="item_desc">
            Effortlessly zoom to the ideal size, then use our 8-Point Keystone to fine-tune each corner for a perfectly aligned image that fits seamlessly to your screen—even in challenging setups.
          </div>
        </div>
        <div class="swiper-slide ltv-3500pro_swiper_01_item">
          <img class="pc" src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/3500pro_16_pc.webp?v=1731984452" alt="Compared to an LED TV, the power consumption of the LTV-3500 Pro is only 300W making it only 1/10 of an LED TV's power consumption, save at least $73 a year.">
          <img class="mobile" src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/new-3500pro_16.webp?v=1731897470" alt="Compared to an LED TV, the power consumption of the LTV-3500 Pro is only 300W making it only 1/10 of an LED TV's power consumption, save at least $73 a year.">
          <div class="item_desc">
            Compared to an LED TV, the power consumption of the LTV-3500 Pro is only 300W making it only 1/10 of an LED TV's power consumption, save at least $73 a year.
          </div> 
        </div>
      </div>
      <div>
        <div class="swiper_container">
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="w_1200 margin_center margin-top-120 image_container">
    <div class="out_text">
      <div class="text_maintitle color_white">Catch it on the Big Screen</div>
      <div class="text_subtitle color_white">The LTV-3500 Pro, a 4K ultra short throw projector, supports projection sizes from 80" to 150". Follow our throw distance chart and then throw on your favorite movie or TV show and prepared to be amazed.</div>
    </div>
    <img class="normal_img pc" src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/3500_17.webp?v=1731984452" alt="Catch it on the Big Screen">
    <img class="normal_img mobile" src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/3500_17_m.webp?v=1731926988" alt="Catch it on the Big Screen">
  </div>
  <div class="choose_img w_1200 margin_center">
    <div class="header">
      Choose the Right Screen<br>
      to Double the Image Quality
    </div>
    <div class="choose_img_container">
      <img class="pc" src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/3500pro_18_pc.webp?v=1731984452" alt="Choose the Right Screen to Double the Image Quality">
      <img class="mobile" src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/new-3500pro-018.jpg?v=1731917650" alt="Choose the Right Screen to Double the Image Quality">
    </div>
  </div>
</div>
<script src="{{ 'swiper-bundle.min.js' | asset_url }}"></script>
<script>
  var mySwiper_four = new Swiper(".youtube_container", {
    loop: true,
    slidesPerView: 1,
    spaceBetween: 20,
    //   effect: 'fade',
    pagination: {
      el: '.youtube_container .swiper-pagination',
    },
    navigation: {
      nextEl: ".youtube_container .swiper-button-next",
      prevEl: ".youtube_container .swiper-button-prev",
    }
  })

  var swiper_01 = new Swiper(".ltv-3500pro_swiper_01", {
    // loop: true,
    slidesPerView: 1,
    spaceBetween: 20,
    //   effect: 'fade',
    pagination: {
      el: ".ltv-3500pro_swiper_01 .swiper-pagination",
      clickable: true,
      renderBullet: function (index, className) {
      return '<span class="' + className + '">' + (index + 1) + "</span>";
      },
      renderBullet: function (index, className) {
      switch (index) {
        case 0:
        text = "Real-time Gaming Engine";
        break;
        case 1:
        text = "24 FPS for Cinema Purists";
        break;
        case 2:
        text = "Cinema Quality Sound";
        break;
      }
      return '<span class="' + className + '">' + text + "</span>";
      },
    },
  })
  var swiper_02 = new Swiper(".ltv-3500pro_swiper_02", {
    // loop: true,
    slidesPerView: 1,
    spaceBetween: 20,
    //   effect: 'fade',
    pagination: {
      el: ".ltv-3500pro_swiper_02 .swiper-pagination",
      clickable: true,
      renderBullet: function (index, className) {
      return '<span class="' + className + '">' + (index + 1) + "</span>";
      },
      renderBullet: function (index, className) {
      switch (index) {
        case 0:
        text = "Super Energy Saving";
        break;
        case 1:
        text = "Color Management System";
        break;
        case 2:
        text = "Focus & 8-Point Keystone";
        break;
      }
      return '<span class="' + className + '">' + text + "</span>";
      },
    },
  })
</script>