{{ 'theater-and-thunder-beat-dialog.css' | asset_url | stylesheet_tag }}

<dialog id="terms_dialog">
  <div class="dialog_main"> 
    <input type="text" name="hiddenInput" readonly style="width:0;height:0;padding:0;border:0;outline:none;" />

    <span class="terms_dialog_close_btn"
      ><img
        src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/dialog_close_btn.svg?v=1727538344"
        alt=""
    /></span>
    <div class="terms_main">
      <header class="page-header">
   AWOL Theater and AWOL ThunderBeat Pre-Sale
      </header>
      <section class="pre-sale-info">
        <article class="info-item">
          <h2>1.&nbsp;Pre-Sale Period</h2>
          <p>
            The pre-sale for AWOL Theater and AWOL ThunderBeat runs from September 30
            to Oct 16 2024.
          </p>
        </article>
        <article class="info-item">
          <h2>2.&nbsp;Reservation Deposit</h2>
          <p>
            A fully refundable deposit of $100 is required to reserve your AWOL
            Theater or AWOL ThunderBeat.
          </p>
        </article>
        <article class="info-item">
          <h2>3.&nbsp;Exclusive Discount Coupon</h2>
          <p>
            Upon placing your deposit, you will receive a $600 discount coupon valid
            for any AWOL Theater or AWOL ThunderBeat product (not applicable to other
            AWOL Vision products).
          </p>
        </article>
        <article class="info-item">
          <h2>4.&nbsp;Price Lock Guarantee</h2>
          <p>
            This deposit secures your order and guarantees the lowest price of the
            year, with total savings of up to $4,300 off MSRP.
          </p>
        </article>
        <article class="info-item">
          <h2>5.&nbsp;Bonus Gifts</h2>
          <p>
            Purchasing the AWOL Theater includes four pairs of premium 3D glasses
            (valued at $159.80). These gifts are exclusive to the "AWOL Theater"
            series and not available with "ThunderBeat".
          </p>
        </article>
        <article class="info-item">
          <h2>6.&nbsp;Official Launch Date and Coupon Expiration</h2>
          <p>
            Both products will officially launch in Oct 17. You must redeem your
            deposit by October 31, by which date the $600 coupon will also expire. If
            not redeemed by this date, we will automatically refund your deposit
            within 14 days.
          </p>
        </article>
        <article class="info-item">
          <h2>7.&nbsp;Easy Refund Policy</h2>
          <p>
            If you decide not to proceed with your reservation, simply contact us to
            request a full refund of your deposit within 14 days.
          </p>
        </article>
        <article class="info-item">
          <h2>8.&nbsp;Agreement to Terms</h2>
          <p>
            By placing your deposit, you acknowledge and accept these terms and
            conditions.
          </p>
        </article>
        <article class="info-item">
          <h2>9.&nbsp;Final Interpretation Rights</h2>
          <p>
            AWOL Vision reserves the right to the final interpretation of these terms
            and conditions.
          </p>
        </article>
      </section>
      
    </div>
  </div>
</dialog>


<script defer  src="{{ 'theater-and-thunder-beat-dialog.js' | asset_url  }}"  ></script>

