<div class="thunder_room_products_main margin-top-160">
  <div class="banner_header_title banner_header_title_pc">
    <video autoplay muted loop playsinline x5-playsinline="true" webkit-playsinline="true" preload poster="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/loading_pic.jpg?v=1727149207">
      <source src="https://cdn.shopify.com/videos/c/o/v/9d7394b07e0247f3bb5130d1428c62d8.mp4" />
    </video>
    <h2>Pick Your Exclusive Bundle</h2>
  </div>
  {% comment %} row {% endcomment %}
  <div class="products_content_wrap">
    <div class="list_title">With LTV-3500 Pro</div>
    <div class="list_wrap">
      <div class="product_item_wrap">
        <img
          src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/thunder_c.png?v=1729137203"
          alt=""
          class="product_item_image"
        />
        <div class="product_item_title">
          LTV-3500 Pro + <span class="red">Free</span> 100''-132'' Cinematic Screen
        </div>
        {% comment %} <div class="product_item_includes_others">
          <span>LTV-3500 Pro </span>
          <span>100"-120'' AWOL Floor rising screen </span>
          <span>100''-120'' Station </span>
          <span>ThunderBeat </span>
        </div> {% endcomment %}
        <div class="product_item_selector">
          <select name="" id="selector_product_1">
            <option data-id="40494285127728" value="product_1_100">100" Screen</option>
            <option data-id="40494285160496" value="product_1_120">120" Screen</option>
            <option data-id="41334647324720" selected value="product_1_132">132" Screen</option>
          </select>
        </div>
        <div class="msrp_wrap product_1_100">
          <div class="product_item_desc">
            <span class="desc_label">Black Friday Price</span>
            <span class="desc_content">$5998</span>
            <span class="desc_ps">(SAVE $1400)</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">MSRP</span>
            <span class="desc_content">$7398</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">Est. Delivery</span>
            <span class="desc_content">2-7 Working Days</span>
          </div>
        </div>
        <div class="msrp_wrap product_1_120">
          <div class="product_item_desc">
            <span class="desc_label">Black Friday Price</span>
            <span class="desc_content">$5998</span>
            <span class="desc_ps">(SAVE $2300)</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">MSRP</span>
            <span class="desc_content">$8298</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">Est. Delivery</span>
            <span class="desc_content">2-7 Working Days</span>
          </div>
        </div>
        <div class="msrp_wrap product_1_132">
          <div class="product_item_desc">
            <span class="desc_label">Black Friday Price</span>
            <span class="desc_content">$5998</span>
            <span class="desc_ps">(SAVE $3000)</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">MSRP</span>
            <span class="desc_content">$8998</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">Est. Delivery</span>
            <span class="desc_content">2-7 Working Days</span>
          </div>
        </div>
        <div class="product_item_btn_wrap">
          <a target="_blank" href="https://awolvision.com/cart/41334647324720:1,41594732445744:1" class="pay_deposit_now">Buy NOW</a>
        </div>
      </div>
      <div class="product_item_wrap">
        <img
          src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/thunder_f.png?v=1729137127"
          alt=""
          class="product_item_image"
        />
        <div class="product_item_title">LTV-3500 Pro + 100''-120'' AWOL Vision Floor Rising Screen</div>
        {% comment %} <div class="product_item_includes_others">
          <span>LTV-3500 Pro </span>
          <span>100"-120'' AWOL Floor rising screen </span>
          <span>ThunderBeat </span>
        </div> {% endcomment %}
        <div class="product_item_selector">
          <select name="" id="selector_product_2">
            <option data-id="41048231542832" value="product_2_100">100” screen</option>
            <option data-id="41048231575600" selected value="product_2_120">120” screen</option>
          </select>
        </div>
        <div class="msrp_wrap product_2_100">
          <div class="product_item_desc">
            <span class="desc_label">Black Friday Price</span>
            <span class="desc_content">$6298</span>
            <span class="desc_ps">(SAVE $2400)</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">MSRP</span>
            <span class="desc_content">$8698</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">Est. Delivery</span>
            <span class="desc_content">2-7 Working Days</span>
          </div>
        </div>
        <div class="msrp_wrap product_2_120">
          <div class="product_item_desc">
            <span class="desc_label">Black Friday Price</span>
            <span class="desc_content">$6298</span>
            <span class="desc_ps">(SAVE $2700)</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">MSRP</span>
            <span class="desc_content">$8998</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">Est. Delivery</span>
            <span class="desc_content">2-7 Working Days</span>
          </div>
        </div>

        <div class="product_item_btn_wrap">
          <a target="_blank" href="https://awolvision.com/cart/41048231575600:1,41594732445744:1" class="pay_deposit_now">Buy NOW</a>
        </div>
      </div>
      <div class="product_item_wrap">
        <img
          src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/thunder_f_station.png?v=1729137172"
          alt=""
          class="product_item_image"
        />
        <div class="product_item_title">LTV-3500 Pro + 100"-120" Floor Rising Screen + 100"-120" Station</div>
        {% comment %} <div class="product_item_includes_others">
          <span>LTV-3500 Pro </span>
          <span>100"-150'' AWOL Cinematic Screen </span>
          <span>ThunderBeat </span>
        </div> {% endcomment %}
        <div class="product_item_selector">
          <select name="" id="selector_product_3">
            <option data-id="41652526678064" value="product_3_100">100” screen</option>
            <option data-id="41652526710832" selected value="product_3_120">120” screen</option>
          </select>
        </div>
        <div class="msrp_wrap product_3_100">
          <div class="product_item_desc">
            <span class="desc_label">Black Friday Price</span>
            <span class="desc_content">$7297</span>
            <span class="desc_ps">(SAVE $2400)</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">MSRP</span>
            <span class="desc_content">$9697</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">Est. Delivery</span>
            <span class="desc_content">2-7 Working Days</span>
          </div>
        </div>
        <div class="msrp_wrap product_3_120">
          <div class="product_item_desc">
            <span class="desc_label">Black Friday Price</span>
            <span class="desc_content">$7297</span>
            <span class="desc_ps">(SAVE $2900)</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">MSRP</span>
            <span class="desc_content">$10197</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">Est. Delivery</span>
            <span class="desc_content">2-7 Working Days</span>
          </div>
        </div>
        <div class="product_item_btn_wrap">
          <a target="_blank" href="https://awolvision.com/cart/41652526710832:1,41594732445744:1" class="pay_deposit_now">Buy NOW</a>
        </div>
      </div>
      <div class="product_item_wrap">
        <img
          src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/thunder_d.png?v=1729137220"
          alt=""
          class="product_item_image"
        />
        <div class="product_item_title">LTV-3500 Pro + <span class="red">Free</span> 100''-120'' Daylight Screen</div>
        {% comment %} <div class="product_item_includes_others">
          <span>LTV-3500 Pro </span>
          <span>100"-120'' AWOL Daylight Screen</span>
          <span>ThunderBeat </span>
        </div> {% endcomment %}
        <div class="product_item_selector">
          <select name="" id="selector_product_4">
            <option data-id="40814426062896" value="product_4_100">100” screen</option>
            <option data-id="40814426095664" selected value="product_4_120">120” screen</option>
          </select>
        </div>
        <div class="msrp_wrap product_4_100">
          <div class="product_item_desc">
            <span class="desc_label">Black Friday Price</span>
            <span class="desc_content">$5998</span>
            <span class="desc_ps">(SAVE $1400)</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">MSRP</span>
            <span class="desc_content">$7398</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">Est. Delivery</span>
            <span class="desc_content">2-7 Working Days</span>
          </div>
        </div>
        <div class="msrp_wrap product_4_120">
          <div class="product_item_desc">
            <span class="desc_label">Black Friday Price</span>
            <span class="desc_content">$5998 </span>
            <span class="desc_ps">(SAVE $2400)</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">MSRP</span>
            <span class="desc_content">$8398</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">Est. Delivery</span>
            <span class="desc_content">2-7 Working Days</span>
          </div>
        </div>
        <div class="product_item_btn_wrap">
          <a target="_blank" href="https://awolvision.com/cart/40814426095664:1,41594732445744:1" class="pay_deposit_now">Buy NOW</a>
        </div>
      </div>
    </div>
  </div>

  {% comment %} row 2 {% endcomment %}
  <div class="products_content_wrap">
    <div class="list_title">With LTV-3000 Pro</div>
    <div class="list_wrap">
      <div class="product_item_wrap">
        <img
          src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/thunder_c.png?v=1729137203"
          alt=""
          class="product_item_image"
        />
        <div class="product_item_title">
          LTV-3000 Pro + <span class="red">Free</span> 100''-132'' Cinematic Screen
        </div>
        {% comment %} <div class="product_item_includes_others">
          <span>LTV-3000 Pro </span>
          <span>100"-120'' AWOL Floor rising screen </span>
          <span>100''-120'' Station </span>
          <span>ThunderBeat </span>
        </div> {% endcomment %}
        <div class="product_item_selector">
          <select name="" id="selector_product_5">
            <option data-id="40936644739120" value="product_5_100">100” screen</option>
            <option data-id="40936644771888" value="product_5_120">120” screen</option>
            <option data-id="41334673408048" selected value="product_5_132">132” screen</option>
          </select>
        </div>
        <div class="msrp_wrap product_5_100">
          <div class="product_item_desc">
            <span class="desc_label">Black Friday Price</span>
            <span class="desc_content">$3998 </span>
            <span class="desc_ps">(SAVE $1400)</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">MSRP</span>
            <span class="desc_content">$5398</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">Est. Delivery</span>
            <span class="desc_content">2-7 Working Days</span>
          </div>
        </div>
        <div class="msrp_wrap product_5_120">
          <div class="product_item_desc">
            <span class="desc_label">Black Friday Price</span>
            <span class="desc_content">$3998 </span>
            <span class="desc_ps">(SAVE $2300)</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">MSRP</span>
            <span class="desc_content">$6298</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">Est. Delivery</span>
            <span class="desc_content">2-7 Working Days</span>
          </div>
        </div>
        <div class="msrp_wrap product_5_132">
            <div class="product_item_desc">
              <span class="desc_label">Black Friday Price</span>
              <span class="desc_content">$3998 </span>
              <span class="desc_ps">(SAVE $3000)</span>
            </div>
            <div class="product_item_desc">
              <span class="desc_label">MSRP</span>
              <span class="desc_content">$6998</span>
            </div>
            <div class="product_item_desc">
              <span class="desc_label">Est. Delivery</span>
              <span class="desc_content">2-7 Working Days</span>
            </div>
          </div>
        <div class="product_item_btn_wrap">
          <a target="_blank" href="https://awolvision.com/cart/41334673408048:1,41594732445744:1" class="pay_deposit_now">Buy NOW</a>
        </div>
      </div>
      <div class="product_item_wrap"> 
        <img
          src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/thunder_f.png?v=1729137127"
          alt=""
          class="product_item_image"
        />
        <div class="product_item_title">LTV-3000 Pro + 100''-120'' AWOL Vision Floor Rising Screen</div>
        {% comment %} <div class="product_item_includes_others">
          <span>LTV-3000 Pro </span>
          <span>100"-120'' AWOL Floor rising screen </span>
          <span>ThunderBeat </span>
        </div> {% endcomment %}
        <div class="product_item_selector">
          <select name="" id="selector_product_6">
            <option data-id="40939864784944" value="product_6_100">100” screen</option>
            <option data-id="40939864817712" selected value="product_6_120">120” screen</option>
          </select>
        </div>
        <div class="msrp_wrap product_6_100">
          <div class="product_item_desc">
            <span class="desc_label">Black Friday Price</span>
            <span class="desc_content">$4998 </span>
            <span class="desc_ps">(SAVE $1700)</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">MSRP</span>
            <span class="desc_content">$6698</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">Est. Delivery</span>
            <span class="desc_content">2-7 Working Days</span>
          </div>
        </div>
        <div class="msrp_wrap product_6_120">
          <div class="product_item_desc">
            <span class="desc_label">Black Friday Price</span>
            <span class="desc_content">$4998 </span>
            <span class="desc_ps">(SAVE $2000)</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">MSRP</span>
            <span class="desc_content">$6998</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">Est. Delivery</span>
            <span class="desc_content">2-7 Working Days</span>
          </div>
        </div>
        <div class="product_item_btn_wrap">
          <a target="_blank" href="https://awolvision.com/cart/40939864817712:1,41594732445744:1" class="pay_deposit_now">Buy NOW</a>
        </div>
      </div>
      <div class="product_item_wrap">
        <img
          src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/thunder_f_station.png?v=1729137172"
          alt=""
          class="product_item_image"
        />
        <div class="product_item_title">LTV-3000 Pro + 100"-120" Floor Rising Screen + 100"-120" Station</div>
        {% comment %} <div class="product_item_includes_others">
          <span>LTV-3000 Pro </span>
          <span>100"-132'' AWOL Cinematic Screen </span>
          <span>ThunderBeat </span>
        </div> {% endcomment %}
        <div class="product_item_selector">
          <select name="" id="selector_product_7">
            <option data-id="41048233705520" value="product_7_100">100” screen</option>
            <option data-id="41048233738288" selected value="product_7_120">120” screen</option>
          </select>
        </div>
        <div class="msrp_wrap product_7_100">
          <div class="product_item_desc">
            <span class="desc_label">Black Friday Price</span>
            <span class="desc_content">$5997</span>
            <span class="desc_ps">(SAVE $1700)</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">MSRP</span>
            <span class="desc_content">$7697</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">Est. Delivery</span>
            <span class="desc_content">2-7 Working Days</span>
          </div>
        </div>
        <div class="msrp_wrap product_7_120">
          <div class="product_item_desc">
            <span class="desc_label">Black Friday Price</span>
            <span class="desc_content">$5997 </span>
            <span class="desc_ps">(SAVE $2200)</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">MSRP</span>
            <span class="desc_content">$8197</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">Est. Delivery</span>
            <span class="desc_content">2-7 Working Days</span>
          </div>
        </div>
        <div class="product_item_btn_wrap">
          <a target="_blank" href="https://awolvision.com/cart/41048233738288:1,41594732445744:1" class="pay_deposit_now">Buy NOW</a>
        </div>
      </div>
      <div class="product_item_wrap">
        <img
          src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/thunder_d.png?v=1729137220"
          alt=""
          class="product_item_image"
        />
        <div class="product_item_title">LTV-3000 Pro + 100''-120'' Daylight Screen</div>
        {% comment %} <div class="product_item_includes_others">
          <span>LTV-3000 Pro </span>
          <span>100"-120'' AWOL Daylight Screen </span>
          <span>ThunderBeat </span>
        </div> {% endcomment %}
        <div class="product_item_selector">
          <select name="" id="selector_product_8">
            <option data-id="40939863310384" value="product_8_100">100” screen</option>
            <option data-id="40939863343152" selected value="product_8_120">120” screen</option>
          </select>
        </div>
        <div class="msrp_wrap product_8_100">
          <div class="product_item_desc">
            <span class="desc_label">Black Friday Price</span>
            <span class="desc_content">$3998 </span>
            <span class="desc_ps">(SAVE $1400)</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">MSRP</span>
            <span class="desc_content">$5398</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">Est. Delivery</span>
            <span class="desc_content">2-7 Working Days</span>
          </div>
        </div>
        <div class="msrp_wrap product_8_120">
          <div class="product_item_desc">
            <span class="desc_label">Black Friday Price</span>
            <span class="desc_content">$4498</span>
            <span class="desc_ps">(SAVE $1900)</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">MSRP</span>
            <span class="desc_content">$6398</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">Est. Delivery</span>
            <span class="desc_content">2-7 Working Days</span>
          </div>
        </div>
        <div class="product_item_btn_wrap">
          <a target="_blank" href="https://awolvision.com/cart/40939863343152:1,41594732445744:1" class="pay_deposit_now">Buy NOW</a>
        </div>
      </div>
    </div>
  </div>
</div>

