<dialog id="thunder_collection_dialog">
  <div class="dialog_main">
    <input type="text" name="hiddenInput" readonly style="width:0;height:0;padding:0;border:0;outline:none;" />

    <span class="dialog_close_btn2"
      ><img
        src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/dialog_close_btn.svg?v=1727538344"
        alt=""
    /></span>
    <div class="thunder_room_products_main">
        <div class="thunder_room_beat_choose">
          <div class="banner_header_title grid-col-12">
            <video
              autoplay
              muted
              loop
              preload
              playsinline
              x5-playsinline="true"
              webkit-playsinline="true"
              poster="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/loading_pic.jpg?v=1727149207">
              <source src="https://cdn.shopify.com/videos/c/o/v/9d7394b07e0247f3bb5130d1428c62d8.mp4" />
            </video>
            <h2>Why Choose AWOL ThunderBeat Over<br> Traditional Soundbars?</h2>
          </div>
          <div class="thunder_room_beat_choose_desc">
            While soundbars with compressed sound stages are designed for smaller screens and struggle with ultra-large displays, our ThunderBeat 4.2.2 system delivers an ultra-wide sound field with precise sound placement—whether it’s a plane overhead or footsteps behind you. Offering movie theater-level detail and accuracy, it adapts to any room size or outdoor setup for a fully immersive experience.
          </div>
          <div class="choose_options">
              <div class="choose_item">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="184"
                  height="28"
                  viewBox="0 0 184 28"
                  fill="none">
                  <rect
                    x="1"
                    y="4.08789"
                    width="182"
                    height="20"
                    rx="3"
                    stroke="white"
                    stroke-width="2" />
                  <path d="M4 23.2637V25.2637C4 25.816 4.44772 26.2637 5 26.2637H6C6.55228 26.2637 7 25.816 7 25.2637V23.2637" stroke="white" />
                  <path d="M177 23.1758V25.1758C177 25.7281 177.448 26.1758 178 26.1758H179C179.552 26.1758 180 25.7281 180 25.1758V23.1758" stroke="white" />
                </svg>
                <div class="choose_item_title">
                  Traditional Soundbars
                </div>
                <div class="choose_item_desc">
                  <div class="red">Limited Sound Stage, Poor Separation,<br> No immersive sound for Large Screen Projection</div>
                </div>
                <div class="choose_item_image">
                  <img src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/Infographic-wide-4.png?v=1728385249" alt="">
                </div>
              </div>
              <div class="choose_item">
                <svg
                  width="198"
                  height="68"
                  viewBox="0 0 198 68"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <rect
                    x="1"
                    y="29.0879"
                    width="22"
                    height="37"
                    rx="3"
                    stroke="white"
                    stroke-width="2" />
                  <rect
                    x="29"
                    y="29.0879"
                    width="22"
                    height="37"
                    rx="3"
                    stroke="white"
                    stroke-width="2" />
                  <rect
                    x="57"
                    y="29.0879"
                    width="22"
                    height="37"
                    rx="3"
                    stroke="white"
                    stroke-width="2" />
                  <rect
                    x="85"
                    y="29.0879"
                    width="22"
                    height="37"
                    rx="3"
                    stroke="white"
                    stroke-width="2" />
                  <rect
                    x="113"
                    y="1.08789"
                    width="39"
                    height="62"
                    rx="3"
                    stroke="white"
                    stroke-width="2" />
                  <path d="M117 63.0879V65.0879C117 65.6402 117.448 66.0879 118 66.0879H119C119.552 66.0879 120 65.6402 120 65.0879V63.0879" stroke="white" />
                  <path d="M145 63.0879V65.0879C145 65.6402 145.448 66.0879 146 66.0879H147C147.552 66.0879 148 65.6402 148 65.0879V63.0879" stroke="white" />
                  <rect
                    x="158"
                    y="1.08789"
                    width="39"
                    height="62"
                    rx="3"
                    stroke="white"
                    stroke-width="2" />
                  <path d="M162 63.0879V65.0879C162 65.6402 162.448 66.0879 163 66.0879H164C164.552 66.0879 165 65.6402 165 65.0879V63.0879" stroke="white" />
                  <path d="M190 63.0879V65.0879C190 65.6402 190.448 66.0879 191 66.0879H192C192.552 66.0879 193 65.6402 193 65.0879V63.0879" stroke="white" />
                </svg>
                <div class="choose_item_title">
                  AWOL ThunderBeat
                </div>
                <div class="choose_item_desc">
                  <div class="blue">ultra-wide soundstage, Flexible placement,<br> immersive surround sound for Any Screen Size</div>
                </div>
                <div class="choose_item_image">
                  <img src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/Infographic-wide-3.png?v=1728385249" alt="">
                </div>
              </div>
          </div>
        </div>
    </div>
    <div class="thunder_room_shaking thunder_container margin-top-120">
        <div class="banner_header_title grid-col-12">
            <video
            autoplay
            muted
            loop
            preload
            playsinline
            x5-playsinline="true"
            webkit-playsinline="true"
            poster="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/loading_pic.jpg?v=1727149207">
            <source src="https://cdn.shopify.com/videos/c/o/v/9d7394b07e0247f3bb5130d1428c62d8.mp4" />
            </video>
            <h2 style="background-color: #1a1a1a;">Room-Shaking Bass<br> With Dual Subwoofers</h2>
        </div>
        <div class="thunder_room_shaking_desc">
            Experience room-shaking, thunderous low-frequency bliss with our surround sound system featuring<br> dual 8'' subwoofers. This setup enhances depth, clarity, and impact, delivering earth-shaking bass that<br> brings movies, music, and games to life.
        </div>
        <div class="thunder_room_shaking_image">
            <img src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/thunder_room_shaking.png?v=1727508871" alt="">
            <div class="thunder_room_shaking_imgdesc">
            <div class="d_item">
                Dual Subwoofers
                <span>Maximum sweet spots<br> Evenly-Distributed Bass</span>
            </div>
            <div class="d_item">
                Single Subwoofer
                <span>Localized Bass</span>
            </div>
            </div>
        </div>
    </div>
    <div class="thunder_introducing thunder_container margin-top-120">
        <div class="thunder_introducing_surround_sound">
            <div class="surround_sound_title">
                AWOL Theater 5.<span>2</span>.2  Surround Sound System
            </div>
            <div class="sunrround_sound_image">
                <img src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/thunder_room_surround_Infographic.png?v=1727685419" alt="">
                <div class="sunrround_desc">
                <div class="sunrround_desc_item">
                    <div class="number_circle">1</div>
                    Center Channel by UST Projector
                </div>
                <div class="sunrround_desc_item">
                    AWOL ThunderBeat 4.2.2 Dolby Atmos<br>
                    Surround Sound System:
                </div>
                <div class="sunrround_desc_item">
                    <div class="number_circle">2</div>
                    <span class="red">Dual Subwoofers</span>
                </div>
                <div class="sunrround_desc_item">
                    <div class="number_circle">3</div>
                    <div>
                    Left and Right Channels +<br>
                    <span class="blue">2 Upward Firing Channels</span>
                    </div>
                </div>
                <div class="sunrround_desc_item">
                    <div class="number_circle">4</div>
                    Rear Left and Rear Right Channels
                </div>
                </div>
            </div>
        </div>
        <div class="thunder_introducing_banner">
            <img src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/thunder_introducing_banner.webp?v=1727494801" alt="thunder_introducing_banner">
        </div>
    </div>
  </div>
</dialog>
