<div class="thunder_room_products_main margin-top-160">
  <div class="banner_header_title banner_header_title_pc">
    <video autoplay muted  playsinline x5-playsinline="true" webkit-playsinline="true" loop preload poster="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/loading_pic.jpg?v=1727149207">
      <source src="https://cdn.shopify.com/videos/c/o/v/9d7394b07e0247f3bb5130d1428c62d8.mp4" />
    </video>
    <h2>Choose The AWOL Theater That Meets Your Needs</h2>
  </div>
  {% comment %} row {% endcomment %}
  <div class="products_content_wrap">
    <div class="list_title">With LTV-3500 Pro</div>
    <div class="list_wrap">
      <div class="product_item_wrap">
        <img
          src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/thunder_f_station_speaker.png?v=1729137189"
          alt=""
          class="product_item_image"
        />
        <div class="product_item_title">
          AWOL Theater 3500X Plus (With Station)
        </div>
        <div class="product_item_includes_others">
          <span>LTV-3500 Pro </span>
          <span>100"-120'' AWOL Floor rising screen </span>
          <span>100''-120'' Station </span>
          <span>ThunderBeat </span>
        </div>
        <div class="product_item_selector">
          <select name="" class="no_gift" id="selector_product_1">
            <option data-id="41675966742576" value="product_1_100">100” screen</option>
            <option data-id="41675966775344" selected value="product_1_120">120” screen</option>
          </select>
        </div>
        <div class="msrp_wrap product_1_100">
          <div class="product_item_desc">
            <span class="desc_label">Black Friday Price</span>
            <span class="desc_content">$8996</span>
            <span class="desc_ps">(SAVE $3700)</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">MSRP</span>
            <span class="desc_content">$12696</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">Est. Delivery</span>
            <span class="desc_content">2-11 Working Days</span>
          </div>
        </div>
        <div class="msrp_wrap product_1_120">
          <div class="product_item_desc">
            <span class="desc_label">Black Friday Price</span>
            <span class="desc_content">$8996</span>
            <span class="desc_ps">(SAVE $4200)</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">MSRP</span>
            <span class="desc_content">$13196</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">Est. Delivery</span>
            <span class="desc_content">2-11 Working Days</span>
          </div>
        </div>
        <div class="product_item_btn_wrap">
          <a href="https://awolvision.com/cart/41675966775344:1" class="pay_deposit_now">Buy Now</a>
        </div>
      </div>
      <div class="product_item_wrap">
        <img
          src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/thunder_f_speaker.png?v=1729137155"
          alt=""
          class="product_item_image"
        />
        <div class="product_item_title">AWOL Theater 3500X Plus</div>
        <div class="product_item_includes_others">
          <span>LTV-3500 Pro </span>
          <span>100"-120'' AWOL Floor rising screen </span>
          <span>ThunderBeat </span>
        </div>
        <div class="product_item_selector">
          <select name="" class="no_gift" id="selector_product_2">
            <option data-id="41677326221360" value="product_2_100">100” screen</option>
            <option data-id="41677326254128" selected value="product_2_120">120” screen</option>
          </select>
        </div>
        <div class="msrp_wrap product_2_100">
          <div class="product_item_desc">
            <span class="desc_label">Black Friday Price</span>
            <span class="desc_content">$7997</span>
            <span class="desc_ps">(SAVE $3700)</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">MSRP</span>
            <span class="desc_content">$11697</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">Est. Delivery</span>
            <span class="desc_content">2-11 Working Days</span>
          </div>
        </div>
        <div class="msrp_wrap product_2_120">
          <div class="product_item_desc">
            <span class="desc_label">Black Friday Price</span>
            <span class="desc_content">$7997</span>
            <span class="desc_ps">(SAVE $4000)</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">MSRP</span>
            <span class="desc_content">$11997</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">Est. Delivery</span>
            <span class="desc_content">2-11 Working Days</span>
          </div>
        </div>

        <div class="product_item_btn_wrap">
          <a target="_blank" href="https://awolvision.com/cart/41677326254128:1" title="Buy NOW" class="pay_deposit_now">Buy Now</a>
        </div>
      </div>
      <div class="product_item_wrap">
        <img
          src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/thunder_c_speaker.png?v=1729137210"
          alt=""
          class="product_item_image"
        />
        <div class="product_item_title">AWOL Theater 3500X</div>
        <div class="product_item_includes_others">
          <span>LTV-3500 Pro </span>
          <span>100"-150'' AWOL Cinematic Screen </span>
          <span>ThunderBeat </span>
        </div>
        <div class="product_item_selector">
          <select name="" class="no_gift" id="selector_product_3">
            <option data-id="41675981586480" value="product_3_100">100” screen</option>
            <option data-id="41675982012464" value="product_3_120">120” screen</option>
            <option data-id="41675982045232" selected value="product_3_132">132” screen</option>
            <option data-id="41675998003248" value="product_3_150">150” screen</option>
          </select>
        </div>
        <div class="msrp_wrap product_3_100">
          <div class="product_item_desc">
            <span class="desc_label">Black Friday Price</span>
            <span class="desc_content">$7697</span>
            <span class="desc_ps">(SAVE $2700)</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">MSRP</span>
            <span class="desc_content">$10397</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">Est. Delivery</span>
            <span class="desc_content">2-11 Working Days</span>
          </div>
        </div>
        <div class="msrp_wrap product_3_120">
          <div class="product_item_desc">
            <span class="desc_label">Black Friday Price</span>
            <span class="desc_content">$7697 </span>
            <span class="desc_ps">(SAVE $3600)</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">MSRP</span>
            <span class="desc_content">$11297</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">Est. Delivery</span>
            <span class="desc_content">2-11 Working Days</span>
          </div>
        </div>
        <div class="msrp_wrap product_3_132">
          <div class="product_item_desc">
            <span class="desc_label">Black Friday Price</span>
            <span class="desc_content">$7697 </span>
            <span class="desc_ps">(SAVE $4300)</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">MSRP</span>
            <span class="desc_content">$11997</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">Est. Delivery</span>
            <span class="desc_content">2-11 Working Days</span>
          </div>
        </div>
        <div class="msrp_wrap product_3_150">
          <div class="product_item_desc">
            <span class="desc_label">Black Friday Price</span>
            <span class="desc_content">$9997 </span>
            <span class="desc_ps">(SAVE $4000)</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">MSRP</span>
            <span class="desc_content">$13997</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">Est. Delivery</span>
            <span class="desc_content">2-11 Working Days</span>
          </div>
        </div>
        <div class="product_item_btn_wrap">
          <a target="_blank" href="https://awolvision.com/cart/41675982045232:1" title="Buy NOW" class="pay_deposit_now">Buy Now</a>
        </div>
      </div>
      <div class="product_item_wrap">
        <img
          src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/thunder_d_speaker.png?v=1729137225"
          alt=""
          class="product_item_image"
        />
      {% comment %} <div class="product_item_title">AWOL Theater 3500S</div>
        <div class="product_item_includes_others">
          <span>LTV-3500 Pro </span>
          <span>100"-120'' AWOL Daylight Screen</span>
          <span>ThunderBeat </span>
        </div>
        <div class="product_item_selector">
          <select name="" class="no_gift" id="selector_product_4">
            <option data-id="41675994071088" value="product_4_100">100” screen</option>
            <option data-id="41675994103856" selected value="product_4_120">120” screen</option>
          </select>
        </div>
        <div class="msrp_wrap product_4_100">
          <div class="product_item_desc">
            <span class="desc_label">Black Friday Price</span>
            <span class="desc_content">$7697 </span>
            <span class="desc_ps">(SAVE $2700)</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">MSRP</span>
            <span class="desc_content">$10397</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">Est. Delivery</span>
            <span class="desc_content">2-11 Working Days</span>
          </div>
        </div>
        <div class="msrp_wrap product_4_120">
          <div class="product_item_desc">
            <span class="desc_label">Black Friday Price</span>
            <span class="desc_content">$7697 </span>
            <span class="desc_ps">(SAVE $3700)</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">MSRP</span>
            <span class="desc_content">$11397</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">Est. Delivery</span>
            <span class="desc_content">2-11 Working Days</span>
          </div>
        </div>
        <div class="product_item_btn_wrap">
          <a target="_blank" href="https://awolvision.com/cart/41675994103856:1" title="Buy NOW" class="pay_deposit_now">Buy Now</a>
        </div>
      </div> {% endcomment %}
    </div>
  </div>

  {% comment %} row 2 {% endcomment %}
  <div class="products_content_wrap">
    <div class="list_title">With LTV-3000 Pro</div>
    <div class="list_wrap">
      <div class="product_item_wrap">
        <img
          src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/thunder_f_station_speaker.png?v=1729137189"
          alt=""
          class="product_item_image"
        />
        <div class="product_item_title">
          AWOL Theater 3000X Plus (With Station)
        </div>
        <div class="product_item_includes_others">
          <span>LTV-3000 Pro </span>
          <span>100"-120'' AWOL Floor rising screen </span>
          <span>100''-120'' Station </span>
          <span>ThunderBeat </span>
        </div>
        <div class="product_item_selector">
          <select name="" class="no_gift" id="selector_product_5">
            <option data-id="41675546263600" value="product_5_100">100” screen</option>
            <option data-id="41675775213616" selected value="product_5_120">120” screen</option>
          </select>
        </div>
        <div class="msrp_wrap product_5_100">
          <div class="product_item_desc">
            <span class="desc_label">Black Friday Price</span>
            <span class="desc_content">$7696</span>
            <span class="desc_ps">(SAVE $3000)</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">MSRP</span>
            <span class="desc_content">$10696</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">Est. Delivery</span>
            <span class="desc_content">2-11 Working Days</span>
          </div>
        </div>
        <div class="msrp_wrap product_5_120">
          <div class="product_item_desc">
            <span class="desc_label">Black Friday Price</span>
            <span class="desc_content">$7696</span>
            <span class="desc_ps">(SAVE $3500)</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">MSRP</span>
            <span class="desc_content">$11196</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">Est. Delivery</span>
            <span class="desc_content">2-11 Working Days</span>
          </div>
        </div>
        <div class="product_item_btn_wrap">
          <a target="_blank" href="https://awolvision.com/cart/41675775213616:1" title="Buy NOW" class="pay_deposit_now">Buy Now</a>
        </div>
      </div>
      <div class="product_item_wrap">
        <img
          src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/thunder_f_speaker.png?v=1729137155"
          alt=""
          class="product_item_image"
        />
        <div class="product_item_title">AWOL Theater 3000X Plus</div>
        <div class="product_item_includes_others">
          <span>LTV-3000 Pro </span>
          <span>100"-120'' AWOL Floor rising screen </span>
          <span>ThunderBeat </span>
        </div>
        <div class="product_item_selector">
          <select name="" class="no_gift" id="selector_product_6">
            <option data-id="41675788812336"  value="product_6_100">100” screen</option>
            <option data-id="41675789369392" selected value="product_6_120">120” screen</option>
          </select>
        </div>
        <div class="msrp_wrap product_6_100">
          <div class="product_item_desc">
            <span class="desc_label">Black Friday Price</span>
            <span class="desc_content">$6697 </span>
            <span class="desc_ps">(SAVE $3000)</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">MSRP</span>
            <span class="desc_content">$9697</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">Est. Delivery</span>
            <span class="desc_content">2-11 Working Days</span>
          </div>
        </div>
        <div class="msrp_wrap product_6_120">
          <div class="product_item_desc">
            <span class="desc_label">Black Friday Price</span>
            <span class="desc_content">$6697 </span>
            <span class="desc_ps">(SAVE $3300)</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">MSRP</span>
            <span class="desc_content">$9997</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">Est. Delivery</span>
            <span class="desc_content">2-11 Working Days</span>
          </div>
        </div>
        <div class="product_item_btn_wrap">
          <a target="_blank" href="https://awolvision.com/cart/41675789369392:1" title="Buy NOW" class="pay_deposit_now">Buy Now</a>
        </div>
      </div>
      <div class="product_item_wrap">
        <img
          src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/thunder_c_speaker.png?v=1729137210"
          alt=""
          class="product_item_image"
        />
        <div class="product_item_title">AWOL Theater 3000X</div>
        <div class="product_item_includes_others">
          <span>LTV-3000 Pro </span>
          <span>100"-132'' AWOL Cinematic Screen </span>
          <span>ThunderBeat </span>
        </div>
        <div class="product_item_selector">
          <select name="" class="no_gift" id="selector_product_7">
            <option data-id="41675954487344" value="product_7_100">100” screen</option>
            <option data-id="41675957502000" value="product_7_120">120” screen</option>
            <option data-id="41675957534768" selected value="product_7_132">132” screen</option>
          </select>
        </div>
        <div class="msrp_wrap product_7_100">
          <div class="product_item_desc">
            <span class="desc_label">Black Friday Price</span>
            <span class="desc_content">$5697 </span>
            <span class="desc_ps">(SAVE $2700)</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">MSRP</span>
            <span class="desc_content">$8397</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">Est. Delivery</span>
            <span class="desc_content">2-11 Working Days</span>
          </div>
        </div>
        <div class="msrp_wrap product_7_120">
          <div class="product_item_desc">
            <span class="desc_label">Black Friday Price</span>
            <span class="desc_content">$5697 </span>
            <span class="desc_ps">(SAVE $3600)</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">MSRP</span>
            <span class="desc_content">$9297</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">Est. Delivery</span>
            <span class="desc_content">2-11 Working Days</span>
          </div>
        </div>
        <div class="msrp_wrap product_7_132">
          <div class="product_item_desc">
            <span class="desc_label">Black Friday Price</span>
            <span class="desc_content">$5697 </span>
            <span class="desc_ps">(SAVE $4300)</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">MSRP</span>
            <span class="desc_content">$9997</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">Est. Delivery</span>
            <span class="desc_content">2-11 Working Days</span>
          </div>
        </div>
        <div class="product_item_btn_wrap">
          <a target="_blank" href="https://awolvision.com/cart/41675957534768:1" title="Buy NOW" class="pay_deposit_now">Buy Now</a>
        </div>
      </div>
      <div class="product_item_wrap">
        <img
          src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/thunder_d_speaker.png?v=1729137225"
          alt=""
          class="product_item_image"
        />
      {% comment %} <div class="product_item_title">AWOL Theater 3000S</div>
        <div class="product_item_includes_others">
          <span>LTV-3000 Pro </span>
          <span>100"-120'' AWOL Daylight Screen </span>
          <span>ThunderBeat </span>
        </div>
        <div class="product_item_selector">
          <select name="" class="no_gift" id="selector_product_8">
            <option data-id="41675959238704" value="product_8_100">100” screen</option>
            <option data-id="41675960320048" selected value="product_8_120">120” screen</option>
          </select>
        </div>
        <div class="msrp_wrap product_8_100">
          <div class="product_item_desc">
            <span class="desc_label">Black Friday Price</span>
            <span class="desc_content">$5697 </span>
            <span class="desc_ps">(SAVE $2700)</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">MSRP</span>
            <span class="desc_content">$8397</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">Est. Delivery</span>
            <span class="desc_content">2-11 Working Days</span>
          </div>
        </div>
        <div class="msrp_wrap product_8_120">
          <div class="product_item_desc">
            <span class="desc_label">Black Friday Price</span>
            <span class="desc_content">$6297</span>
            <span class="desc_ps">(SAVE $3100)</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">MSRP</span>
            <span class="desc_content">$9397</span>
          </div>
          <div class="product_item_desc">
            <span class="desc_label">Est. Delivery</span>
            <span class="desc_content">2-11 Working Days</span>
          </div>
        </div>
        <div class="product_item_btn_wrap">
          <a target="_blank" href="https://awolvision.com/cart/41675960320048:1" title="Buy NOW" class="pay_deposit_now">Buy Now</a>
        </div>
      </div> {% endcomment %}
    </div>
  </div>
</div>

<dialog id="thunder_room_products_dialog">
  <div class="dialog_main">
    <input type="text" name="hiddenInput" readonly style="width:0;height:0;padding:0;border:0;outline:none;" />

    <span class="dialog_close_btn"
      ><img
        src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/dialog_close_btn.svg?v=1727538344"
        alt=""
    /></span>
    <div class="thunder_room_products_main">
      <div class="banner_header_title banner_header_title">
        <video autoplay muted loop preload playsinline x5-playsinline="true" webkit-playsinline="true" poster="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/loading_pic.jpg?v=1727149207">
          <source src="https://cdn.shopify.com/videos/c/o/v/9d7394b07e0247f3bb5130d1428c62d8.mp4" />
        </video>
        <h2>Choose The AWOL Theater That Meets Your Needs</h2>
      </div>
      {% comment %} row {% endcomment %}
      <div class="products_content_wrap">
        <div class="list_title">With LTV-3500 Pro</div>
        <div class="list_wrap">
          <div class="product_item_wrap">
            <img
              src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/thunder_f_station_speaker.png?v=1729137189"
              alt=""
              class="product_item_image"
            />
            <div class="product_item_title">
              AWOL Theater 3500X Plus (With Station)
            </div>
            <div class="product_item_includes_others">
              <span>LTV-3500 Pro </span>
              <span>100"-120'' AWOL Floor rising screen </span>
              <span>100''-120'' Station </span>
              <span>ThunderBeat </span>
            </div>
            <div class="product_item_selector">
              <select name="" class="no_gift" id="selector_product_1">
                <option data-id="41675966742576" value="product_1_100">100” screen</option>
                <option data-id="41675966775344" selected value="product_1_120">120” screen</option>
              </select>
            </div>
            <div class="msrp_wrap product_1_100">
              <div class="product_item_desc">
                <span class="desc_label">Black Friday Price</span>
                <span class="desc_content">$8996</span>
                <span class="desc_ps">(SAVE $3700)</span>
              </div>
              <div class="product_item_desc">
                <span class="desc_label">MSRP</span>
                <span class="desc_content">$12696</span>
              </div>
              <div class="product_item_desc">
                <span class="desc_label">Est. Delivery</span>
                <span class="desc_content">2-11 Working Days</span>
              </div>
            </div>
            <div class="msrp_wrap product_1_120">
              <div class="product_item_desc">
                <span class="desc_label">Black Friday Price</span>
                <span class="desc_content">$8996</span>
                <span class="desc_ps">(SAVE $4200)</span>
              </div>
              <div class="product_item_desc">
                <span class="desc_label">MSRP</span>
                <span class="desc_content">$13196</span>
              </div>
              <div class="product_item_desc">
                <span class="desc_label">Est. Delivery</span>
                <span class="desc_content">2-11 Working Days</span>
              </div>
            </div>
            <div class="product_item_btn_wrap">
              <a href="https://awolvision.com/cart/41675966775344:1" class="pay_deposit_now">Buy Now</a>
            </div>
          </div>
          <div class="product_item_wrap">
            <img
              src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/thunder_f_speaker.png?v=1729137155"
              alt=""
              class="product_item_image"
            />
            <div class="product_item_title">AWOL Theater 3500X Plus</div>
            <div class="product_item_includes_others">
              <span>LTV-3500 Pro </span>
              <span>100"-120'' AWOL Floor rising screen </span>
              <span>ThunderBeat </span>
            </div>
            <div class="product_item_selector">
              <select name="" class="no_gift" id="selector_product_2">
                <option data-id="41677326221360" value="product_2_100">100” screen</option>
                <option data-id="41677326254128" selected value="product_2_120">120” screen</option>
              </select>
            </div>
            <div class="msrp_wrap product_2_100">
              <div class="product_item_desc">
                <span class="desc_label">Black Friday Price</span>
                <span class="desc_content">$7997</span>
                <span class="desc_ps">(SAVE $3700)</span>
              </div>
              <div class="product_item_desc">
                <span class="desc_label">MSRP</span>
                <span class="desc_content">$11697</span>
              </div>
              <div class="product_item_desc">
                <span class="desc_label">Est. Delivery</span>
                <span class="desc_content">2-11 Working Days</span>
              </div>
            </div>
            <div class="msrp_wrap product_2_120">
              <div class="product_item_desc">
                <span class="desc_label">Black Friday Price</span>
                <span class="desc_content">$7997</span>
                <span class="desc_ps">(SAVE $4000)</span>
              </div>
              <div class="product_item_desc">
                <span class="desc_label">MSRP</span>
                <span class="desc_content">$11997</span>
              </div>
              <div class="product_item_desc">
                <span class="desc_label">Est. Delivery</span>
                <span class="desc_content">2-11 Working Days</span>
              </div>
            </div>
    
            <div class="product_item_btn_wrap">
              <a target="_blank" href="https://awolvision.com/cart/41677326254128:1" title="Buy NOW" class="pay_deposit_now">Buy Now</a>
            </div>
          </div>
          <div class="product_item_wrap">
            <img
              src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/thunder_c_speaker.png?v=1729137210"
              alt=""
              class="product_item_image"
            />
            <div class="product_item_title">AWOL Theater 3500X</div>
            <div class="product_item_includes_others">
              <span>LTV-3500 Pro </span>
              <span>100"-150'' AWOL Cinematic Screen </span>
              <span>ThunderBeat </span>
            </div>
            <div class="product_item_selector">
              <select name="" class="no_gift" id="selector_product_3">
                <option data-id="41675981586480" value="product_3_100">100” screen</option>
                <option data-id="41675982012464" value="product_3_120">120” screen</option>
                <option data-id="41675982045232" selected value="product_3_132">132” screen</option>
                <option data-id="41675998003248" value="product_3_150">150” screen</option>
              </select>
            </div>
            <div class="msrp_wrap product_3_100">
              <div class="product_item_desc">
                <span class="desc_label">Black Friday Price</span>
                <span class="desc_content">$7697</span>
                <span class="desc_ps">(SAVE $2700)</span>
              </div>
              <div class="product_item_desc">
                <span class="desc_label">MSRP</span>
                <span class="desc_content">$10397</span>
              </div>
              <div class="product_item_desc">
                <span class="desc_label">Est. Delivery</span>
                <span class="desc_content">2-11 Working Days</span>
              </div>
            </div>
            <div class="msrp_wrap product_3_120">
              <div class="product_item_desc">
                <span class="desc_label">Black Friday Price</span>
                <span class="desc_content">$7697 </span>
                <span class="desc_ps">(SAVE $3600)</span>
              </div>
              <div class="product_item_desc">
                <span class="desc_label">MSRP</span>
                <span class="desc_content">$11297</span>
              </div>
              <div class="product_item_desc">
                <span class="desc_label">Est. Delivery</span>
                <span class="desc_content">2-11 Working Days</span>
              </div>
            </div>
            <div class="msrp_wrap product_3_132">
              <div class="product_item_desc">
                <span class="desc_label">Black Friday Price</span>
                <span class="desc_content">$7697 </span>
                <span class="desc_ps">(SAVE $4300)</span>
              </div>
              <div class="product_item_desc">
                <span class="desc_label">MSRP</span>
                <span class="desc_content">$11997</span>
              </div>
              <div class="product_item_desc">
                <span class="desc_label">Est. Delivery</span>
                <span class="desc_content">2-11 Working Days</span>
              </div>
            </div>
            <div class="msrp_wrap product_3_150">
              <div class="product_item_desc">
                <span class="desc_label">Black Friday Price</span>
                <span class="desc_content">$9997</span>
                <span class="desc_ps">(SAVE $4000)</span>
              </div>
              <div class="product_item_desc">
                <span class="desc_label">MSRP</span>
                <span class="desc_content">$13997</span>
              </div>
              <div class="product_item_desc">
                <span class="desc_label">Est. Delivery</span>
                <span class="desc_content">2-11 Working Days</span>
              </div>
            </div>
            <div class="product_item_btn_wrap">
              <a target="_blank" href="https://awolvision.com/cart/41675982045232:1" title="Buy NOW" class="pay_deposit_now">Buy Now</a>
            </div>
          </div>
          {% comment %} <div class="product_item_wrap">
            <img
              src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/thunder_d_speaker.png?v=1729137225"
              alt=""
              class="product_item_image"
            />
            <div class="product_item_title">AWOL Theater 3500S</div>
            <div class="product_item_includes_others">
              <span>LTV-3500 Pro </span>
              <span>100"-120'' AWOL Daylight Screen</span>
              <span>ThunderBeat </span>
            </div>
            <div class="product_item_selector">
              <select name="" class="no_gift" id="selector_product_4">
                <option data-id="41675994071088" value="product_4_100">100” screen</option>
                <option data-id="41675994103856" selected value="product_4_120">120” screen</option>
              </select>
            </div>
            <div class="msrp_wrap product_4_100">
              <div class="product_item_desc">
                <span class="desc_label">Black Friday Price</span>
                <span class="desc_content">$7697 </span>
                <span class="desc_ps">(SAVE $2700)</span>
              </div>
              <div class="product_item_desc">
                <span class="desc_label">MSRP</span>
                <span class="desc_content">$10397</span>
              </div>
              <div class="product_item_desc">
                <span class="desc_label">Est. Delivery</span>
                <span class="desc_content">2-11 Working Days</span>
              </div>
            </div>
            <div class="msrp_wrap product_4_120">
              <div class="product_item_desc">
                <span class="desc_label">Black Friday Price</span>
                <span class="desc_content">$7697 </span>
                <span class="desc_ps">(SAVE $3700 )</span>
              </div>
              <div class="product_item_desc">
                <span class="desc_label">MSRP</span>
                <span class="desc_content">$11397</span>
              </div>
              <div class="product_item_desc">
                <span class="desc_label">Est. Delivery</span>
                <span class="desc_content">2-11 Working Days</span>
              </div>
            </div>
            <div class="product_item_btn_wrap">
              <a target="_blank" href="https://awolvision.com/cart/41675994103856:1" title="Buy NOW" class="pay_deposit_now">Buy Now</a>
            </div>
          </div> {% endcomment %}
        </div>
      </div>
    
      {% comment %} row 2 {% endcomment %}
      <div class="products_content_wrap">
        <div class="list_title">With LTV-3000 Pro</div>
        <div class="list_wrap">
          <div class="product_item_wrap">
            <img
              src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/thunder_f_station_speaker.png?v=1729137189"
              alt=""
              class="product_item_image"
            />
            <div class="product_item_title">
              AWOL Theater 3000X Plus (With Station)
            </div>
            <div class="product_item_includes_others">
              <span>LTV-3000 Pro </span>
              <span>100"-120'' AWOL Floor rising screen </span>
              <span>100''-120'' Station </span>
              <span>ThunderBeat </span>
            </div>
            <div class="product_item_selector">
              <select name="" class="no_gift" id="selector_product_5">
                <option data-id="41675546263600" value="product_5_100">100” screen</option>
                <option data-id="41675775213616" selected value="product_5_120">120” screen</option>
              </select>
            </div>
            <div class="msrp_wrap product_5_100">
              <div class="product_item_desc">
                <span class="desc_label">Black Friday Price</span>
                <span class="desc_content">$7696</span>
                <span class="desc_ps">(SAVE $3000)</span>
              </div>
              <div class="product_item_desc">
                <span class="desc_label">MSRP</span>
                <span class="desc_content">$10696</span>
              </div>
              <div class="product_item_desc">
                <span class="desc_label">Est. Delivery</span>
                <span class="desc_content">2-11 Working Days</span>
              </div>
            </div>
            <div class="msrp_wrap product_5_120">
              <div class="product_item_desc">
                <span class="desc_label">Black Friday Price</span>
                <span class="desc_content">$7696</span>
                <span class="desc_ps">(SAVE $3500)</span>
              </div>
              <div class="product_item_desc">
                <span class="desc_label">MSRP</span>
                <span class="desc_content">$11196</span>
              </div>
              <div class="product_item_desc">
                <span class="desc_label">Est. Delivery</span>
                <span class="desc_content">2-11 Working Days</span>
              </div>
            </div>
            <div class="product_item_btn_wrap">
              <a target="_blank" href="https://awolvision.com/cart/41675775213616:1" title="Buy NOW" class="pay_deposit_now">Buy Now</a>
            </div>
          </div>
          <div class="product_item_wrap">
            <img
              src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/thunder_f_speaker.png?v=1729137155"
              alt=""
              class="product_item_image"
            />
            <div class="product_item_title">AWOL Theater 3000X Plus</div>
            <div class="product_item_includes_others">
              <span>LTV-3000 Pro </span>
              <span>100"-120'' AWOL Floor rising screen </span>
              <span>ThunderBeat </span>
            </div>
            <div class="product_item_selector">
              <select name="" class="no_gift" id="selector_product_6">
                <option data-id="41675788812336" value="product_6_100">100” screen</option>
                <option data-id="41675789369392" selected value="product_6_120">120” screen</option>
              </select>
            </div>
            <div class="msrp_wrap product_6_100">
              <div class="product_item_desc">
                <span class="desc_label">Black Friday Price</span>
                <span class="desc_content">$6697 </span>
                <span class="desc_ps">(SAVE $3000)</span>
              </div>
              <div class="product_item_desc">
                <span class="desc_label">MSRP</span>
                <span class="desc_content">$9697</span>
              </div>
              <div class="product_item_desc">
                <span class="desc_label">Est. Delivery</span>
                <span class="desc_content">2-11 Working Days</span>
              </div>
            </div>
            <div class="msrp_wrap product_6_120">
              <div class="product_item_desc">
                <span class="desc_label">Black Friday Price</span>
                <span class="desc_content">$6697 </span>
                <span class="desc_ps">(SAVE $3300)</span>
              </div>
              <div class="product_item_desc">
                <span class="desc_label">MSRP</span>
                <span class="desc_content">$9997</span>
              </div>
              <div class="product_item_desc">
                <span class="desc_label">Est. Delivery</span>
                <span class="desc_content">2-11 Working Days</span>
              </div>
            </div>
            <div class="product_item_btn_wrap">
              <a target="_blank" href="https://awolvision.com/cart/41675789369392:1" title="Buy NOW" class="pay_deposit_now">Buy Now</a>
            </div>
          </div>
          <div class="product_item_wrap">
            <img
              src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/thunder_c_speaker.png?v=1729137210"
              alt=""
              class="product_item_image"
            />
            <div class="product_item_title">AWOL Theater 3000X</div>
            <div class="product_item_includes_others">
              <span>LTV-3000 Pro </span>
              <span>100"-132'' AWOL Cinematic Screen </span>
              <span>ThunderBeat </span>
            </div>
            <div class="product_item_selector">
              <select name="" class="no_gift" id="selector_product_7">
                <option data-id="41675954487344" value="product_7_100">100” screen</option>
                <option data-id="41675957502000" value="product_7_120">120” screen</option>
                <option data-id="41675957534768" selected value="product_7_132">132” screen</option>
              </select>
            </div>
            <div class="msrp_wrap product_7_100">
              <div class="product_item_desc">
                <span class="desc_label">Black Friday Price</span>
                <span class="desc_content">$5697 </span>
                <span class="desc_ps">(SAVE $2700)</span>
              </div>
              <div class="product_item_desc">
                <span class="desc_label">MSRP</span>
                <span class="desc_content">$8397</span>
              </div>
              <div class="product_item_desc">
                <span class="desc_label">Est. Delivery</span>
                <span class="desc_content">2-11 Working Days</span>
              </div>
            </div>
            <div class="msrp_wrap product_7_120">
              <div class="product_item_desc">
                <span class="desc_label">Black Friday Price</span>
                <span class="desc_content">$5697 </span>
                <span class="desc_ps">(SAVE $3600)</span>
              </div>
              <div class="product_item_desc">
                <span class="desc_label">MSRP</span>
                <span class="desc_content">$9297</span>
              </div>
              <div class="product_item_desc">
                <span class="desc_label">Est. Delivery</span>
                <span class="desc_content">2-11 Working Days</span>
              </div>
            </div>
            <div class="msrp_wrap product_7_132">
              <div class="product_item_desc">
                <span class="desc_label">Black Friday Price</span>
                <span class="desc_content">$5697 </span>
                <span class="desc_ps">(SAVE $4300)</span>
              </div>
              <div class="product_item_desc">
                <span class="desc_label">MSRP</span>
                <span class="desc_content">$9997</span>
              </div>
              <div class="product_item_desc">
                <span class="desc_label">Est. Delivery</span>
                <span class="desc_content">2-11 Working Days</span>
              </div>
            </div>
            <div class="product_item_btn_wrap">
              <a target="_blank" href="https://awolvision.com/cart/41675957534768:1" title="Buy NOW" class="pay_deposit_now">Buy Now</a>
            </div>
          </div>
          {% comment %} <div class="product_item_wrap">
            <img
              src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/thunder_d_speaker.png?v=1729137225"
              alt=""
              class="product_item_image"
            />
            <div class="product_item_title">AWOL Theater 3000S</div>
            <div class="product_item_includes_others">
              <span>LTV-3000 Pro </span>
              <span>100"-120'' AWOL Daylight Screen </span>
              <span>ThunderBeat </span>
            </div>
            <div class="product_item_selector">
              <select name="" class="no_gift" id="selector_product_8">
                <option data-id="41675959238704" value="product_8_100">100” screen</option>
                <option data-id="41675960320048" selected value="product_8_120">120” screen</option>
              </select>
            </div>
            <div class="msrp_wrap product_8_100">
              <div class="product_item_desc">
                <span class="desc_label">Black Friday Price</span>
                <span class="desc_content">$5697</span>
                <span class="desc_ps">(SAVE $2700)</span>
              </div>
              <div class="product_item_desc">
                <span class="desc_label">MSRP</span>
                <span class="desc_content">$8397</span>
              </div>
              <div class="product_item_desc">
                <span class="desc_label">Est. Delivery</span>
                <span class="desc_content">2-11 Working Days</span>
              </div>
            </div>
            <div class="msrp_wrap product_8_120">
              <div class="product_item_desc">
                <span class="desc_label">Black Friday Price</span>
                <span class="desc_content">$6297 </span>
                <span class="desc_ps">(SAVE $3100)</span>
              </div>
              <div class="product_item_desc">
                <span class="desc_label">MSRP</span>
                <span class="desc_content">$9397</span>
              </div>
              <div class="product_item_desc">
                <span class="desc_label">Est. Delivery</span>
                <span class="desc_content">2-11 Working Days</span>
              </div>
            </div>
            <div class="product_item_btn_wrap">
              <a target="_blank" href="https://awolvision.com/cart/41675960320048:1" title="Buy NOW" class="pay_deposit_now">Buy Now</a>
            </div>
          </div> {% endcomment %}
        </div>
      </div>
    </div>
  </div>
</dialog>
