
{{ 'wbg-about-statement.css' | asset_url | stylesheet_tag }}

<div class="wbg-about-statement-outer-contaier">  
  <h2 class="wbg-about-statement-title h2">Our Social Responsibility Statements</h2>
  <div class="wbg-about-statement-contaier">  
    <div class="wbg-about-statement-contaier-subcontainer">
      <div class="wbg-about-statement-contaier-element">
        <img src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/Rectangle_6.png?v=1700633113" alt="tv" class="wbg-main-products-background">
      </div>
    </div>
    <div class="wbg-about-statement-contaier-subcontainer">
      <div class="wbg-about-statement-contaier-element">
        <div class="wbg-about-statement-content"> 
          <p class="wbg-about-statement-label wbg-about-statement-content-left"><span class="heavy">01</span>&nbsp;&nbsp;</p>
          <p class="wbg-about-statement-label wbg-about-statement-content-right">Promoting Environmental Sustainability</p>
          <p class="wbg-about-statement-content-left"></p>
          <p class="wbg-about-statement-text wbg-about-statement-content-right">We are deeply committed to environmental protection. Our dedication to sustainable practices in manufacturing and packaging allows us to minimize our carbon footprint, ensuring a greener future for generations to come. By bringing home entertainment to a new paradigm, we will save energy, time, and space in the process.</p>
        </div>
        <div class="wbg-about-statement-content"> 
          <p class="wbg-about-statement-label wbg-about-statement-content-left"><span class="heavy">02</span>&nbsp;&nbsp;</p>
          <p class="wbg-about-statement-label wbg-about-statement-content-right">Enhancing Lives through Fun</p>
          <p class="wbg-about-statement-content-left"></p>
          <p class="wbg-about-statement-text wbg-about-statement-content-right">We believe in making a positive impact on real lives. We actively create enjoyable experiences for those who need it most – empowering and donating to people living in difficult situations, to give the gift of joy.</p>
        </div>
        <div class="wbg-about-statement-content"> 
          <p class="wbg-about-statement-label wbg-about-statement-content-left"><span class="heavy">03</span>&nbsp;&nbsp;</p>
          <p class="wbg-about-statement-label wbg-about-statement-content-right">Empowerment through Entertainment</p>
          <p class="wbg-about-statement-content-left"></p>
          <p class="wbg-about-statement-text wbg-about-statement-content-right">We actively support charity initiatives led by our community of entertainment lovers and gamers. We partner with our passionate community to make a difference in causes they care about most.</p>
        </div>
      </div>
    </div>
  </div>
</div>