{{ 'wbg-about-story.css' | asset_url | stylesheet_tag }}


<div class="wbg-about-story-container">

  <div class="wbg-about-story-content">
    <div class="wbg-about-story-content-inner">
      <div class="wbg-about-story-content-title">
        <p>Our Story</p>
      </div>
      <div class="wbg-about-story-content-body">
        <p>
          In 2020, AWOL Vision was born from the bold dreams of a passionate group of TV enthusiasts. We shared a vision: that people should never have to compromise when it comes to home entertainment. The belief was simple but revolutionary – your home TV can be larger, brighter, and easier to set up than ever before. 
        </p>
        <p>
          From September 2020 to January 2022, AWOL set out to build the best ultra short throw projector on the market, no compromises. We connected to hundreds of customers through launching an Indiegogo campaign in March 2022. Our engineering team cut the red tape and listened; we engaged directly our superfans and tech partners. We proposed the framework, they filled in the details—we did it together. We didn’t charge for the upgrades. Since we built it together, we credit our contributors. That’s how we work.
        </p>
        <p>
          Out of these conversations, AWOL Vision introduced a game-changer: the 4K 3D Triple Laser UST Projector LTV-3500 and LTV-2500. These marvels incorporated Ultra Short Throw Triple Laser technology, offering vibrant color, featherlight design, intelligent features, and hassle-free installation. For everyone who had dreamt of owning a personal movie theater, AWOL Vision made that dream a budget-friendly reality. Whether it's movies, games, TV dramas, concerts, or sports events, these innovations brought an immersive experience to every home.
        </p>
        <p>
          In June 2022, we took the adventure to the next level by opening our very first UST Triple Laser TV retail store in the US, bringing the magic of home theater closer to everyone.
        </p>
        <p>
          By September 2022, we unveiled the Vanish TV, a 120’’ rollable 4K UHD 3D Laser TV. It was a revelation, converting any room into a cinematic haven within minutes. The hassle of large screens and wall mounting became a thing of the past, elevating lifestyles to new heights.
        </p>
        <p>
          September 2022 marked another milestone as AWOL Vision – we launched the 150’’ Ambient Light Rejection screen – the largest of its kind at the time. Paired with the LTV-3500, it transformed homes into immersive theaters, captivating the senses.
        </p>
        <p>
          Today, with our Pro series, we have enhanced the adventure even more by including Dolby Vision and Smart Home Integration.
        </p>
        <p>
          Throughout this journey, AWOL Vision's commitment remained unwavering: to make products better, smarter, and accessible to everyone. The vision persisted – to ensure that everyone could have their dream movie theater at home, a theater that would never become obsolete, and never go out of style.
        </p>
        <p>
          Our adventure continues. We tirelessly follow our north star: pushing boundaries, embracing innovation, and turning dreams into reality. 
        </p>
        <p>
          And having blast along the way.
        </p>
      </div>
    </div>
  </div>
</div>