{{ 'wbg-text-with-icons.css' | asset_url | stylesheet_tag }}

 <div class="wbg-text-with-icons-container">
  <div class="wbg-icon-instance">
    <img class="wbg-icon-image" src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/fluent_person-support-24-regular.png?v=1701324276">
    <p class="wbg-icon-title">Customer Support</p>
    <p class="wbg-icon-body">Info@awolvision.com / Live Chat / 800 659-5235</p>
  </div>
  <div class="wbg-icon-instance">
    <img class="wbg-icon-image" src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/icon-park-outline_security.png?v=1701324276">
    <p class="wbg-icon-title">24-Month Warranty</p>
    <p class="wbg-icon-body">Extended one-year warranty</p>
  </div>
  <div class="wbg-icon-instance">
    <img class="wbg-icon-image" src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/icon-park_return.png?v=1701324276">
    <p class="wbg-icon-title">30-Day Money Back Guarantee</p>
    <p class="wbg-icon-body">Return if unsatisfied</p>
  </div>
  <div class="wbg-icon-instance">
    <img class="wbg-icon-image" src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/iconamoon_discount-bold.png?v=1701324276">
    <p class="wbg-icon-title">Frontline Heroes Discount</p>
    <p class="wbg-icon-body">Military, Healthcare, and First Responders</p>
  </div>
 </div>