{{ 'wbg-home-main-products-2.css' | asset_url | stylesheet_tag }}

<div class="wbg-main-products-container-parant">
  <div class="wbg-main-products-contaier">
    <div class="wbg-main-products-contaier-subcontainer">
      <div class="wbg-main-products-contaier-element wbg-desktop">
        <div class="wbg-main-products-slogan">
          <h2 style="font-size: 40px;">
            Elevate Home Entertainment <br>
            to <span class="wbg-main-products-slogan-bold">the Next Level</span>
          </h2>
        </div>
      </div>
      <div class="wbg-main-products-contaier-element wbg-mobile">
        <div class="wbg-main-products-slogan">
          <h2 style="font-size: 36px;">Experience the Vision</h2>
        </div>
      </div>
      <a class="wbg-main-products-contaier-element" href="https://awolvision.com/pages/awol-theater">
        <img
          src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/theater_home_discover.jpg?v=1728459891"
          alt="AWOL Vision Vanish Laser TV showcases a crisp, high-resolution image of the moon."
          class="wbg-main-products-background"
          width="auto"
          height="auto"
        >
  
        <div class="wbg-main-products-label">
          <h3 class="wbg-main-products-text-white wbg-main-products-text-font-weight">AWOL Theater</h3>
        </div>
        <div class="wbg-main-products-info">
          <p class="wbg-main-products-text-white">DISCOVER <img class="wbg-main-products-inline-arrow"     src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/down_arrow_white.svg?v=1727684956" alt=""></p>
        </div>
      </a>
    </div>
    <div class="wbg-main-products-contaier-subcontainer">
      <a class="wbg-main-products-contaier-element" href="https://awolvision.com/collections/4k-laser-projector">
        <img
          src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/wbg-1.png?v=1700115919"
          alt="AWOL Vision 4K Laser Projector is a series of high-performance triple laser projectors with a sleek, modern design suitable for any home theater setup."
          class="wbg-wbg-main-products-background"
          width="auto"
          height="auto"
        >
        <div class="wbg-main-products-label">
          <h3>RGB Laser Projector</h3>
        </div>
        <div class="wbg-main-products-info">
          <p style="vertical-align: middle;" >
            DISCOVER
            <img
              class="wbg-main-products-inline-arrow"
          
                       src="{{ 'arrowRight.svg' | asset_url}}"
              alt=""
              width="auto"
              height="auto"
            >
          </p>
        </div>
      </a>
      <a
        class="wbg-main-products-contaier-element"
        href="https://awolvision.com/products/100-120-motorized-floor-rising-projector-screen"
      >
        <img
          src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/2_182cfe5b-6ec1-4d16-a5b3-00090913cc56.png?v=1701796147"
          alt="Ski jumper in mid-air on a snowy mountain displayed on a Floor Rising Acoustic Projector Screen."
          class="wbg-wbg-main-products-background"
          width="auto"
          height="auto"
        >
        <div class="wbg-main-products-label">
          <h3>Floor Rising Acoustic Screen</h3>
        </div>
        <div class="wbg-main-products-info">
          <p>
            DISCOVER
            <img
              class="wbg-main-products-inline-arrow"
              src="{{ 'arrowRight.svg' | asset_url}}"
              alt=""
              width="auto"
              height="auto"
            >
          </p>
        </div>
      </a>
    </div>
  </div>
  <div class="wbg-main-products-contaier-row">
    <div class="row-item-wrap">
      <a class="item-image-link" href="https://awolvision.com/products/thunderbeat">
        <img
          src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/surroud_sound_speakers_home.jpg?v=1727699240"
          alt="AWOL Vision Vanish Laser TV showcases a crisp, high-resolution image of the moon."
          class="wbg-main-products-background"
          width="auto"
          height="auto"
        >
        <img
          src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/souder_beat_home.jpg?v=1727699081"
          alt="AWOL Vision Vanish Laser TV showcases a crisp, high-resolution image of the moon."
          class="wbg-main-products-background-mobile"
          width="auto"
          height="auto"
        >
  
        <div class="item-title">
          Surround Sound Speakers
        </div>
        <div class="item-link">
          DISCOVER &nbsp; <img class="item-discover-link" src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/down_arrow_white.svg?v=1727684956" alt="">
        </div>
      </a>
    </div>

  </div>
</div>

