{{ 'wbg-vision-mission.css' | asset_url | stylesheet_tag }}

<div class="wbg-vision-mission-container">
  <div class="wbg-vision-mission-content">
    <div class="wbg-vision-mission-inner">
      <div class="wbg-vision-mission-inner-background">
        <div class="wbg-vision-mission-section-group">
          <div class="wbg-vision-mission-section">
            <img
              src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/image_10.png?v=1700700081"
              alt="vision"
              class="wbg-vision-mission-section-image"
            >
            <div class="wbg-vision-mission-section-hero">
              <div class="wbg-vision-mission-section-title">
                <p>Our Vision</p>
              </div>
              <div class="wbg-vision-mission-section-subtitle">
                <p>Creating A World Full of Awe</p>
              </div>
            </div>
            <div class="wbg-vision-mission-section-body">
              <p>
                We are out to create a world where entertainment knows no boundaries. At AWOL Vision, our vision is to
                empower individuals to transcend the limitations of traditional viewing, enabling them to explore new
                dimensions of visual experiences. We envision a future where our innovative technology redefines how
                people connect with entertainment, blurring the lines between imagination and reality.
              </p>
            </div>
          </div>
          <div class="wbg-vision-mission-section">
            <img
              src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/image_10_1.png?v=1700700081"
              alt="vision"
              class="wbg-vision-mission-section-image"
            >
            <div class="wbg-vision-mission-section-hero">
              <div class="wbg-vision-mission-section-title">
                <p>Our Mission</p>
              </div>
              <div class="wbg-vision-mission-section-subtitle">
                <p>Elevate Home Entertainment to The Next Level</p>
              </div>
            </div>
            <div class="wbg-vision-mission-section-body">
              <p>
                We are driven by the belief that everyone deserves an exceptional cinematic experience within the
                comfort of their own home. Our mission is to provide cutting-edge digital projectors and technology that
                deliver unparalleled clarity, immersion, and innovation. We are committed to transforming your living
                room into a movie theater, ensuring that every moment of entertainment becomes a memorable and
                extraordinary journey.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
