

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-492500093568550111.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-492500093568550111.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-492500093568550111.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-492500093568550111.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-492500093568550111.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-492500093568550111.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-492500093568550111.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-492500093568550111.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-492500093568550111.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-492500093568550111.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-492500093568550111.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-492500093568550111.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-492500093568550111.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-492500093568550111.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-492500093568550111.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-492500093568550111.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-492500093568550111.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-492500093568550111.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-492500093568550111.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-492500093568550111.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-492500093568550111.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-492500093568550111.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-492500093568550111.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-492500093568550111.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-492500093568550111.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-492500093568550111.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-492500093568550111.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-492500093568550111.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-492500093568550111.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-492500093568550111.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-492500093568550111.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-492500093568550111.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-492500093568550111.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-492500093568550111.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-492500093568550111.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-492500093568550111.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-492500093568550111.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-492500093568550111.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-492500093568550111.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-492500093568550111.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-492500093568550111.gps.gpsil [style*="--bga-tablet:"]{background-attachment:var(--bga-tablet)}.gps-492500093568550111.gps.gpsil [style*="--bgc-tablet:"]{background-color:var(--bgc-tablet)}.gps-492500093568550111.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-492500093568550111.gps.gpsil [style*="--bgp-tablet:"]{background-position:var(--bgp-tablet)}.gps-492500093568550111.gps.gpsil [style*="--bgr-tablet:"]{background-repeat:var(--bgr-tablet)}.gps-492500093568550111.gps.gpsil [style*="--bgs-tablet:"]{background-size:var(--bgs-tablet)}.gps-492500093568550111.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-492500093568550111.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-492500093568550111.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-492500093568550111.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-492500093568550111.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-492500093568550111.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-492500093568550111.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-492500093568550111.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-492500093568550111.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-492500093568550111.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-492500093568550111.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-492500093568550111.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-492500093568550111.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-492500093568550111.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-492500093568550111.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-492500093568550111.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-492500093568550111.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-492500093568550111.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-492500093568550111.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-492500093568550111.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-492500093568550111.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-492500093568550111.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-492500093568550111 .-gp-translate-x-1\/2,.gps-492500093568550111 .-gp-translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-492500093568550111 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-492500093568550111 .gp-absolute{position:absolute}.gps-492500093568550111 .gp-relative{position:relative}.gps-492500093568550111 .gp-left-0{left:0}.gps-492500093568550111 .gp-left-1\/2{left:50%}.gps-492500093568550111 .gp-top-0{top:0}.gps-492500093568550111 .gp-top-1\/2{top:50%}.gps-492500093568550111 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-492500093568550111 .gp-mb-0{margin-bottom:0}.gps-492500093568550111 .gp-flex{display:flex}.gps-492500093568550111 .gp-grid{display:grid}.gps-492500093568550111 .\!gp-hidden{display:none!important}.gps-492500093568550111 .gp-hidden{display:none}.gps-492500093568550111 .gp-aspect-\[56\/32\]{aspect-ratio:56/32}.gps-492500093568550111 .gp-h-full{height:100%}.gps-492500093568550111 .gp-w-14{width:56px}.gps-492500093568550111 .gp-w-5{width:20px}.gps-492500093568550111 .gp-w-full{width:100%}.gps-492500093568550111 .\!gp-max-w-none{max-width:none!important}.gps-492500093568550111 .gp-max-w-full{max-width:100%}.gps-492500093568550111 .-gp-translate-x-1\/2{--tw-translate-x:-50%}.gps-492500093568550111 .-gp-translate-x-1\/2,.gps-492500093568550111 .-gp-translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-492500093568550111 .-gp-translate-y-1\/2{--tw-translate-y:-50%}.gps-492500093568550111 .gp-flex-col{flex-direction:column}.gps-492500093568550111 .gp-items-center{align-items:center}.gps-492500093568550111 .gp-justify-center{justify-content:center}.gps-492500093568550111 .gp-gap-y-0{row-gap:0}.gps-492500093568550111 .gp-overflow-hidden{overflow:hidden}.gps-492500093568550111 .gp-rounded{border-radius:4px}.gps-492500093568550111 .gp-bg-black{--tw-bg-opacity:1;background-color:rgb(0 0 0/var(--tw-bg-opacity))}.gps-492500093568550111 .gp-bg-black\/80{background-color:rgba(0,0,0,.8)}.gps-492500093568550111 .gp-object-cover{-o-object-fit:cover;object-fit:cover}.gps-492500093568550111 .gp-text-g-text-2{color:var(--g-c-text-2)}.gps-492500093568550111 .gp-text-white{--tw-text-opacity:1;color:rgb(255 255 255/var(--tw-text-opacity))}.gps-492500093568550111 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-492500093568550111 .gp-duration-200{transition-duration:.2s}.gps-492500093568550111 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-492500093568550111 .hover\:gp-bg-\[\#ef0800\]:hover{--tw-bg-opacity:1;background-color:rgb(239 8 0/var(--tw-bg-opacity))}}@media (max-width:1023px){.gps-492500093568550111 .tablet\:\!gp-hidden{display:none!important}.gps-492500093568550111 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-492500093568550111 .mobile\:\!gp-hidden{display:none!important}.gps-492500093568550111 .mobile\:gp-hidden{display:none}}.gps-492500093568550111 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-492500093568550111 .\[\&_\>_article\]\:gp-aspect-\[var\(--aspect\)\]>article{aspect-ratio:var(--aspect)}@media (max-width:1023px){.gps-492500093568550111 .tablet\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-tablet\2c _var\(--aspect\)\)\]>article{aspect-ratio:var(--aspect-tablet,var(--aspect))}}@media (max-width:767px){.gps-492500093568550111 .mobile\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-mobile\2c _var\(--aspect-tablet\2c _var\(--aspect\)\)\)\]>article{aspect-ratio:var(--aspect-mobile,var(--aspect-tablet,var(--aspect)))}}.gps-492500093568550111 .\[\&_p\]\:gp-inline p{display:inline}.gps-492500093568550111 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-492500093568550111 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:100%;--w-mobile:100%;--pl:var(--g-ct-p, 15px);--pl-tablet:0px;--pl-mobile:0px;--pr:var(--g-ct-p, 15px);--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gZBFzjhGYR" data-id="gZBFzjhGYR"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mt:-7px;--mb:-85px;--pt:95px;--pl:15px;--pb:0px;--pr:15px;--mt-mobile:28px;--mb-mobile:-15px;--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:15px;--pb-mobile:0px;--pr-mobile:15px;--mt-tablet:8px;--mb-tablet:7px;--pt-tablet:18px;--pl-tablet:15px;--pb-tablet:75px;--pr-tablet:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:#000000;--bgc-tablet:#000000;--bgi:url();--bgi-tablet:url();--bgp:50% 50%;--bgp-tablet:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bga:scroll;--bga-tablet:scroll"
        class="gZBFzjhGYR gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gqjtKq9aQa gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gTyD5xquS-" data-id="gTyD5xquS-"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:8px;--mt-mobile:7px;--mb-mobile:8px;--mt-tablet:18px;--mb-tablet:8px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gTyD5xquS- gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gHjFIKJetT gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gomdo77c0Z">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gomdo77c0Z "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:-69px;--mb:var(--g-s-l);--mt-mobile:-4px;--mb-mobile:9px;--pt-mobile:0px;--mt-tablet:-18px;--mb-tablet:16px;--pt-tablet:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-text-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--c:#242424;--fs:normal;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-heading, heading);--weight:700;--ls:normal;--size:40px;--size-tablet:40px;--size-mobile:37px;word-break:break-word;overflow:hidden"
        ><p><span style="color:#FFFFFF;font-size:42px;">Where is the AWOL Store?</span></p></h2>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
  <gp-text data-id="g25ayZ4NDz">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g25ayZ4NDz "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mt:-10px;--mb:22px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#575757;word-break:break-word;overflow:hidden"
        ><p><span style="color:#FFFFFF;font-size:19px;">9169 W Atlantic Ave, Suite 118, Delray Beach, FL, 33446</span></p></div>
      </div>
    </div>
    </gp-text>
    
    <div
      
      data-id="g85UP-38iF"
      class="!gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative g85UP-38iF"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:4px;--ml:-7px;--mb:156px;--mr:-7px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:-5px;--ml-mobile:-8px;--mb-mobile:22px;--mr-mobile:-8px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:60px;--pr-mobile:0px;--mt-tablet:4px;--ml-tablet:-7px;--mb-tablet:37px;--mr-tablet:-7px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--aspect:auto"
    >
      
  <gp-lite-html5-embed>
    
    <video
      id="gp-video-g85UP-38iF"
      class=" gp-w-full lazy gp-object-cover"
      style="--aspect:auto"
      
      loop
      muted
      autoplay
      title="Video"
      preload="metadata"
      data-src="https://cdn.shopify.com/videos/c/o/v/897ca0ec6da54aebba5303fe80956e0e.mp4"
      src=""
      poster=""
      playsinline
    >
    <source data-src="https://cdn.shopify.com/videos/c/o/v/897ca0ec6da54aebba5303fe80956e0e.mp4" src="" type="video/mp4"></source>
  </video>
    <div
          style="--aspect:auto"
           class="gp-absolute gp-top-0 gp-left-0  gp-w-full gp-thumbnail-video gp-hidden"
        >
          <img
            id="video-thumbnail"
            src=""
            class="gp-w-full gp-h-full gp-object-cover"
            alt="Video Thumbnail"
          ></img>
          <button
            type="button"
            class="gp-absolute gp-left-1/2 gp-top-1/2 gp-flex gp-aspect-[56/32] gp-w-14 -gp-translate-x-1/2 -gp-translate-y-1/2 gp-items-center gp-justify-center gp-rounded gp-bg-black/80 gp-transition-colors hover:gp-bg-[#ef0800]"
            aria-label="Play"
          >
            <svg class="gp-w-5 gp-text-white" viewBox="0 0 24 24">
              <path
                fill="currentColor"
                d="M5 5.274c0-1.707 1.826-2.792 3.325-1.977l12.362 6.726c1.566.853 1.566 3.101 0 3.953L8.325 20.702C6.826 21.518 5 20.432 5 18.726V5.274Z"
              />
            </svg>
          </button>
        </div>
        </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-lite-html5-embed.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>
    <script>
        if(lazyLoadInstance){lazyLoadInstance.update()}else{var lazyLoadInstance = new LazyLoad()}
    </script>
  
    </div>
  
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtgFgIGaV2Q.woff) format('woff');
}
/* hebrew */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtgFgIGSV2YOrrM95Dylg.woff) format('woff');
  unicode-range: U+0307-0308, U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtgFgIGiV2YOrrM95Dylg.woff) format('woff');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtgFgIGaV2YOrrM95Dw.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 8",
    "tag": "section",
    "class": "gps-492500093568550111 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/awol-vision/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=491600363804165242&sectionId=492500093568550111)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
