

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-491600363921605754.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-491600363921605754.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-491600363921605754.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-491600363921605754.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-491600363921605754.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-491600363921605754.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-491600363921605754.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-491600363921605754.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-491600363921605754.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-491600363921605754.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-491600363921605754.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-491600363921605754.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-491600363921605754.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-491600363921605754.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-491600363921605754.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-491600363921605754.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-491600363921605754.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-491600363921605754.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-491600363921605754.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-491600363921605754.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-491600363921605754.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-491600363921605754.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-491600363921605754.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-491600363921605754.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-491600363921605754.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-491600363921605754.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-491600363921605754.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-491600363921605754.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-491600363921605754.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-491600363921605754.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-491600363921605754.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-491600363921605754.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-491600363921605754.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-491600363921605754.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-491600363921605754.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-491600363921605754.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-491600363921605754.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-491600363921605754.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-491600363921605754.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-491600363921605754.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-491600363921605754.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-491600363921605754.gps.gpsil [style*="--bga-tablet:"]{background-attachment:var(--bga-tablet)}.gps-491600363921605754.gps.gpsil [style*="--bgc-tablet:"]{background-color:var(--bgc-tablet)}.gps-491600363921605754.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-491600363921605754.gps.gpsil [style*="--bgp-tablet:"]{background-position:var(--bgp-tablet)}.gps-491600363921605754.gps.gpsil [style*="--bgr-tablet:"]{background-repeat:var(--bgr-tablet)}.gps-491600363921605754.gps.gpsil [style*="--bgs-tablet:"]{background-size:var(--bgs-tablet)}.gps-491600363921605754.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-491600363921605754.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-491600363921605754.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-491600363921605754.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-491600363921605754.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-491600363921605754.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-491600363921605754.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-491600363921605754.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-491600363921605754.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-491600363921605754.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-491600363921605754.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-491600363921605754.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-491600363921605754.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-491600363921605754.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-491600363921605754.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-491600363921605754.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-491600363921605754.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-491600363921605754.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-491600363921605754.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-491600363921605754.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-491600363921605754.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-491600363921605754.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-491600363921605754.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-491600363921605754 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-491600363921605754 .gp-relative{position:relative}.gps-491600363921605754 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-491600363921605754 .gp-mb-0{margin-bottom:0}.gps-491600363921605754 .\!gp-inline{display:inline!important}.gps-491600363921605754 .gp-flex{display:flex}.gps-491600363921605754 .gp-grid{display:grid}.gps-491600363921605754 .\!gp-hidden{display:none!important}.gps-491600363921605754 .gp-hidden{display:none}.gps-491600363921605754 .gp-h-full{height:100%}.gps-491600363921605754 .gp-w-full{width:100%}.gps-491600363921605754 .gp-max-w-full{max-width:100%}.gps-491600363921605754 .gp-flex-col{flex-direction:column}.gps-491600363921605754 .gp-gap-y-0{row-gap:0}.gps-491600363921605754 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-491600363921605754 .gp-duration-200{transition-duration:.2s}.gps-491600363921605754 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-491600363921605754 .tablet\:\!gp-hidden{display:none!important}.gps-491600363921605754 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-491600363921605754 .mobile\:\!gp-hidden{display:none!important}.gps-491600363921605754 .mobile\:gp-hidden{display:none}}.gps-491600363921605754 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-491600363921605754 .\[\&_p\]\:gp-inline p{display:inline}.gps-491600363921605754 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-491600363921605754 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:100%;--w-mobile:100%;--pl:var(--g-ct-p, 15px);--pl-tablet:0px;--pl-mobile:0px;--pr:var(--g-ct-p, 15px);--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gS3Ha9fh83" data-id="gS3Ha9fh83"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:-41px;--pt:90px;--pl:9px;--pb:0px;--pr:15px;--mt-mobile:44px;--mb-mobile:-9px;--pt-mobile:0px;--pl-mobile:15px;--pb-mobile:40px;--pr-mobile:15px;--pt-tablet:80px;--pl-tablet:15px;--pb-tablet:80px;--pr-tablet:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:#000000;--bgc-tablet:#000000;--bgi:url();--bgi-tablet:url();--bgp:50% 50%;--bgp-tablet:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bga:scroll;--bga-tablet:scroll"
        class="gS3Ha9fh83 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ggM2z-CfTx gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="grIhoF7Mo-" data-id="grIhoF7Mo-"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:113px;--mt-mobile:23px;--mb-mobile:30px;--pt-mobile:30px;--mb-tablet:0px;--cg:auto;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#000000;--bgc-tablet:#000000;--bgi:url();--bgi-tablet:url();--bgp:50% 50%;--bgp-tablet:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bga:scroll;--bga-tablet:scroll"
        class="grIhoF7Mo- gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--o-mobile:1"
      class="gdQgK3vhGy gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gGIzHg_fOO"
    role="presentation"
    class="gp-group/image gGIzHg_fOO"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pl:0px;--mt-mobile:var(--g-s-3xl);--ta:left"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;overflow:hidden;--jc:left"
      >
        
  <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "490834883761931106-b4e630b8-c93a-45cc-828b-c42a42c601c0.jpg" | asset_url }}" data-srcset="{{ '490834883761931106-b4e630b8-c93a-45cc-828b-c42a42c601c0.jpg' | asset_img_url: '768x' }} 768w, {{ '490834883761931106-b4e630b8-c93a-45cc-828b-c42a42c601c0.jpg' | asset_img_url: '1024x' }} 1024w, {{ '490834883761931106-b4e630b8-c93a-45cc-828b-c42a42c601c0.jpg' | asset_img_url: 'master' }} 1440w" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjA0OCIgaGVpZ2h0PSIxMzY1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMDQ4LTEzNjUiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIwNDgiIGhlaWdodD0iMTM2NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjA0OCIgaGVpZ2h0PSIxMzY1IiBmaWxsPSJ1cmwoI2ctMjA0OC0xMzY1KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjA0OCIgdG89IjIwNDgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="2048" height="1365" alt="Alt Image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:2048/1365;--aspect-tablet:2048/1365;--aspect-mobile:2048/1365;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
    />
  
      </div>
  </div>
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--o-mobile:0"
      class="gDM4tpBpEf gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="goETP1DApJ">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="goETP1DApJ "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:31px;--mb-mobile:25px;--ml-tablet:0px;--mb-tablet:14px;--pl-tablet:var(--g-s-xl);--pr-tablet:24px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#121212;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:13px;--size-mobile:14px;word-break:break-word;overflow:hidden"
        ><p><span style="color:#FCFCFC;font-size:21px;">"My family and I have had AWOL Vision in our home for a few months and we are such big fans that I’ve teamed up with them to give away $50K worth of products only at CES."</span></p></div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gPLl90LMRj">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gPLl90LMRj "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mb-mobile:0px;--mb-tablet:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        ><p><span style="color:#FFFFFF;font-size:20px;"><strong>- Daymond John</strong></span></p></div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gBxriFjWID">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gBxriFjWID "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pl:31px;--pr:34px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:italic;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        ><p><span style="color:#FFFFFF;">（Iconic entrepreneur, FUBU founder, and visionary investor. His captivating charisma and exceptional business acumen have made him a true force in entrepreneurship.）</span></p></div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGaV2Q.woff) format('woff');
}
/* hebrew */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGSV2YOrrM95Dylg.woff) format('woff');
  unicode-range: U+0307-0308, U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGiV2YOrrM95Dylg.woff) format('woff');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGaV2YOrrM95Dw.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-491600363921605754 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/awol-vision/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=491600363804165242&sectionId=491600363921605754)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
