

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-492599909380261087.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-492599909380261087.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-492599909380261087.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-492599909380261087.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-492599909380261087.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-492599909380261087.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-492599909380261087.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-492599909380261087.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-492599909380261087.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-492599909380261087.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-492599909380261087.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-492599909380261087.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-492599909380261087.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-492599909380261087.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-492599909380261087.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-492599909380261087.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-492599909380261087.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-492599909380261087.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-492599909380261087.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-492599909380261087.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-492599909380261087.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-492599909380261087.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-492599909380261087.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-492599909380261087.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-492599909380261087.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-492599909380261087.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-492599909380261087.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-492599909380261087.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-492599909380261087.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-492599909380261087.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-492599909380261087.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-492599909380261087.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-492599909380261087.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-492599909380261087.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-492599909380261087.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-492599909380261087.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-492599909380261087.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-492599909380261087.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-492599909380261087.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-492599909380261087.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-492599909380261087.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-492599909380261087.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-492599909380261087.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-492599909380261087.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-492599909380261087.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1023px){.gps-492599909380261087.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-492599909380261087.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-492599909380261087.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-492599909380261087.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-492599909380261087.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-492599909380261087.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-492599909380261087.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-492599909380261087.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-492599909380261087.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-492599909380261087.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-492599909380261087.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-492599909380261087.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-492599909380261087.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-492599909380261087.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-492599909380261087.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-492599909380261087.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-492599909380261087.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-492599909380261087.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-492599909380261087.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-492599909380261087.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-492599909380261087 .gp-relative{position:relative}.gps-492599909380261087 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-492599909380261087 .gp-mb-0{margin-bottom:0}.gps-492599909380261087 .\!gp-inline{display:inline!important}.gps-492599909380261087 .gp-flex{display:flex}.gps-492599909380261087 .gp-grid{display:grid}.gps-492599909380261087 .\!gp-hidden{display:none!important}.gps-492599909380261087 .gp-hidden{display:none}.gps-492599909380261087 .gp-h-full{height:100%}.gps-492599909380261087 .gp-w-full{width:100%}.gps-492599909380261087 .gp-max-w-full{max-width:100%}.gps-492599909380261087 .gp-flex-col{flex-direction:column}.gps-492599909380261087 .gp-gap-y-0{row-gap:0}.gps-492599909380261087 .gp-text-g-text-2{color:var(--g-c-text-2)}.gps-492599909380261087 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-492599909380261087 .gp-duration-200{transition-duration:.2s}.gps-492599909380261087 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-492599909380261087 .tablet\:\!gp-hidden{display:none!important}.gps-492599909380261087 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-492599909380261087 .mobile\:\!gp-hidden{display:none!important}.gps-492599909380261087 .mobile\:gp-hidden{display:none}}.gps-492599909380261087 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-492599909380261087 .\[\&_p\]\:gp-inline p{display:inline}.gps-492599909380261087 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-492599909380261087 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:100%;--w-mobile:100%;--pl:var(--g-ct-p, 15px);--pl-tablet:0px;--pl-mobile:0px;--pr:var(--g-ct-p, 15px);--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gNbEbzvuz6" data-id="gNbEbzvuz6"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mt:11px;--mb:0px;--pt:43px;--pb:51px;--pr:0px;--mt-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:-127px;--mb-tablet:-17px;--pt-tablet:6px;--pb-tablet:51px;--pr-tablet:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:#000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gNbEbzvuz6 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gPnAbs_nUb gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gpJ_FXoeBl">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gpJ_FXoeBl "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:2px;--mb:20px;--pt:6px;--pb:9px;--mt-mobile:42px;--mb-mobile:0px;--mt-tablet:20px;--mb-tablet:17px;--pb-tablet:10px"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-text-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--c:#242424;--fs:normal;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-heading, heading);--weight:700;--ls:normal;--size:40px;--size-tablet:40px;--size-mobile:37px;word-break:break-word;overflow:hidden"
        ><p><span style="color:#FFFFFF;font-size:42px;">Our Booth Location at CES 2024</span></p></h2>
      </div>
    </div>
    </gp-text>
    <div
    
     data-id="gIkvy5yrln"
    role="presentation"
    class="gp-group/image gIkvy5yrln"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:1px;--mb:0px;--pl:8px;--pr:8px;--mt-mobile:10px;--mb-mobile:0px;--pt-mobile:5px;--pl-mobile:8px;--pb-mobile:29px;--pr-mobile:8px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:center"
      >
        
  <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "490834883761931106-dc158d50-0dc6-49b7-a835-a98ac5a69e53.png" | asset_url }}" data-srcset="{{ '490834883761931106-dc158d50-0dc6-49b7-a835-a98ac5a69e53.png' | asset_img_url: '768x' }} 768w, {{ '490834883761931106-dc158d50-0dc6-49b7-a835-a98ac5a69e53.png' | asset_img_url: '1024x' }} 1024w, {{ '490834883761931106-dc158d50-0dc6-49b7-a835-a98ac5a69e53.png' | asset_img_url: 'master' }} 1440w" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xOTIwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE5MjAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTkyMC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTkyMCIgdG89IjE5MjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="1920" height="1080" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:1920/1080;--aspect-tablet:1920/1080;--aspect-mobile:1920/1080;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px"
    />
  
      </div>
  </div>
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtgFgIGaV2Q.woff) format('woff');
}
/* hebrew */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtgFgIGSV2YOrrM95Dylg.woff) format('woff');
  unicode-range: U+0307-0308, U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtgFgIGiV2YOrrM95Dylg.woff) format('woff');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtgFgIGaV2YOrrM95Dw.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-492599909380261087 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/awol-vision/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=491600363804165242&sectionId=492599909380261087)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
