{{- 'mw-floor-screen.css' | asset_url | stylesheet_tag: true -}}
<div class="main_container" id="Description">
  {% comment %} part one start {% endcomment %}
  <div id="part_one" class="item pc">
    <div class="scoller_img">
      <div class="bg"></div>
    </div>
    <div class="scoller_context">
      <div class="font_box">
        <p>Matte White Floor Rising Screen</p>
        <h2>
          Ultimate Dark Room
          <br>
          Cinematic Experience
        </h2>
        <div class="part_one_icons">
          <div class="icon_item">
            <img src="{{ '20240611-112431.png' | asset_url}}" width="36px" height="36px" alt="icons">
            +80% <br>
            Image Quality
          </div>
          <div class="icon_item">
            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
              <mask id="mask0_4_15" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="48" height="48">
              <circle cx="24" cy="24" r="24" fill="#D9D9D9"/>
              </mask>
              <g mask="url(#mask0_4_15)">
              <path d="M24 47L24 33" stroke="white" stroke-width="2" stroke-linecap="round"/>
              <path d="M24 15L24 1" stroke="white" stroke-width="2" stroke-linecap="round"/>
              <path d="M47 24L33 24" stroke="white" stroke-width="2" stroke-linecap="round"/>
              <path d="M15 24L1 24" stroke="white" stroke-width="2" stroke-linecap="round"/>
              <path d="M40.2634 40.2635L30.3639 30.364" stroke="white" stroke-width="2" stroke-linecap="round"/>
              <path d="M17.636 17.636L7.73649 7.73652" stroke="white" stroke-width="2" stroke-linecap="round"/>
              <path d="M7.73657 40.2634L17.6361 30.3639" stroke="white" stroke-width="2" stroke-linecap="round"/>
              <path d="M30.364 17.636L40.2635 7.73646" stroke="white" stroke-width="2" stroke-linecap="round"/>
              <path d="M15.1982 45.2492L20.5558 32.3149" stroke="white" stroke-width="2" stroke-linecap="round"/>
              <path d="M27.4441 15.6851L32.8017 2.75078" stroke="white" stroke-width="2" stroke-linecap="round"/>
              <path d="M45.2493 32.8017L32.315 27.4441" stroke="white" stroke-width="2" stroke-linecap="round"/>
              <path d="M15.6851 20.5558L2.75074 15.1983" stroke="white" stroke-width="2" stroke-linecap="round"/>
              <path d="M32.8018 45.2492L27.4442 32.3149" stroke="white" stroke-width="2" stroke-linecap="round"/>
              <path d="M20.5559 15.6851L15.1983 2.75075" stroke="white" stroke-width="2" stroke-linecap="round"/>
              <path d="M2.75073 32.8016L15.685 27.444" stroke="white" stroke-width="2" stroke-linecap="round"/>
              <path d="M32.3149 20.5558L45.2493 15.1982" stroke="white" stroke-width="2" stroke-linecap="round"/>
              </g>
            </svg>
            +30% <br>
            Brightness
          </div>
        </div>
        <p class="tips">*comparing it to projecting onto a white wall</p>
      </div>
    </div>
    <div class="mask">
      <!--
        <p>
            <span class="color_font">Best Choice for Darkroom</span> - Portable, Durable, Reliable
        </p>
      -->
    </div>
  </div>
  <div id="part_one mobile" class="item mobile">
    <img
      src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/20240611-115437.png?v=1718078107"
      alt="AWOL Vision Matte White Floor Rising Screen boosts brightness by 30% and image quality by 80%. "
      width="100%"
      height="auto"
    >
  </div>
  {% comment %} prat one end {% endcomment %}

  {% comment %} part two start {% endcomment %}
  <div id="part_two" class="item">
    <div class="image_container">
      <img
        class="pc"
        src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/20240528224727.png?v=1716907816"
        alt="Listing the features and advantages of AWOL Vision Matte White Floor Rising Screen."
      >
      <img
        class="mobile"
        src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/20240528224748.png?v=1716907812"
        alt="Listing the features and advantages of AWOL Vision Matte White Floor Rising Screen."
      >
    </div>
  </div>
  {% comment %} prat two end {% endcomment %}

  {% comment %} part three start {% endcomment %}
  <div id="part_three" class="section-common-sectionzoomout common_font_part" style="margin: 0 0 0px 0;">
    <div class="common_title hide common_title_animate">
      <h2 class="color_font">1.3 dB Peak Gain, 80% Image Quality Improved</h2>
      <p>
        Achieve an 80% enhancement in picture quality with a 1.3 dB Peak Gain, ensuring brighter and more vibrant images
        under the same projection lighting conditions. Therefore, this screen can deliver a much more vivid image even
        for projectors with weaker brightness.
      </p>
    </div>
    <div class="common_video">
      <div class="video_container common_video_animate">
        <div class="div">
          <div
            class="img1"
            style="background-image: url(https://cdn.shopify.com/s/files/1/0554/7445/4576/files/mw-2.png?v=1716529553);"
          >
            <div class="bar" data-flag="0"></div>
            <div class="bar_button" data-flag="0">
              <svg
                t="1716543812878"
                class="icon"
                viewBox="0 0 1024 1024"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                p-id="2725"
                width="20"
                height="20"
              >
                <path d="M401.07 708.27L206.93 512 403.2 315.73 341.33 256l-256 256 256 256 59.74-59.73z m221.86 0L819.2 512 622.93 315.73 682.67 256l256 256-256 256-59.74-59.73z" p-id="2726" fill="#000000"></path>
              </svg>
            </div>
          </div>
          <div
            class="img2"
            style="background-image: url(https://cdn.shopify.com/s/files/1/0554/7445/4576/files/mw.png?v=1716529553);"
          ></div>
        </div>
        <!-- <div style="height: 700px;"></div> -->
      </div>
    </div>
  </div>
  {% comment %} prat three end {% endcomment %}

  {% comment %} part four start {% endcomment %}
  <div class="section-common-sectionzoomout common_font_part">
    <div class="common_title hide common_title_animate">
      <h2 class="color_font">Immersive 8K / 4K Image, Captivating 3D Effect</h2>
      <P style="color: white"
        >Dive into an unparalleled visual experience with stunning 8K/4K resolution that creates captivating 3D effect,<br>
        ensuring unforgettable movie nights.</P
      >
    </div>
    <div class="image_container common_image_animate">
      <img
        src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/522kv.png?v=1716541395"
        alt="Thrilling motorbike race on AWOL Vision's Matte White Motorized Floor Rising Screen in 8K/4K resolution, offering a 3D visual for the family."
      >
    </div>
  </div>
  <!--
    <div id="part_four" class="section-common-sectionzoomout">
        <div class="common_title hide common_title_animate" id="common_title">
            <h2 class="color_font">Immersive 8K / 4K Image, Captivating 3D Effect</h2>
            <P style="color: white">Dive into an unparalleled visual experience with stunning 8K/4K resolution that creates captivating 3D effect,<br>ensuring unforgettable movie nights.</P>
        </div>
        <div class="common_video">
            <div class="video_container common_video_animate" id="common_video">
                <video x5-playsinline="true" playsinline="true" webkit-playsinline="true" loop muted class="style__video___3Uzsk style__video"
                    data-layzr-poster="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/gg.jpg?v=1712036201"
                    style="opacity: 0.99;"
                    poster="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/gg.jpg?v=1712036201">
                    <source type="video/mp4; codecs=&quot;avc1.4D401E, mp4a.40.2&quot;"
                        src="https://cdn.shopify.com/videos/c/o/v/f0b1caf9a29841839f43df2200d2e4d4.mp4">
                </video>
            </div>
            <div style="height: 600px;" class="sticky_height mask"></div>
        </div>
    </div>
  -->
  {% comment %} prat four end {% endcomment %}

  {% comment %} part five start {% endcomment %}
  <div id="part_five" class="section-common-sectionzoomout common_font_part">
    <div class="common_title hide common_title_animate">
      <h2 class="color_font">Top-tier PVC material</h2>
      <p>
        Crafted from premium-grade PVC material, this screen is the ultimate choice for dimly lit environments or dark
        rooms,<br>
        guaranteeing a top-tier visual experience.
      </p>
    </div>
    <div class="common_video">
      <div class="video_container common_video_animate">
        <video
          x5-playsinline="true"
          playsinline="true"
          webkit-playsinline="true"
          muted
          class="style__video"
          data-layzr-poster="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/gg.jpg?v=1712036201"
          style="opacity: 0.99;"
          poster="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/gg.jpg?v=1712036201"
        >
          <source
            type="video/mp4; codecs=&quot;avc1.4D401E, mp4a.40.2&quot;"
            data-layzr-src="https://cdn.shopify.com/videos/c/o/v/83c8a52ed34d4bea9528bf036844c42e.mp4"
            src="https://cdn.shopify.com/videos/c/o/v/83c8a52ed34d4bea9528bf036844c42e.mp4"
          >
        </video>
        <div class="video_replay">
          <svg
            t="1710214239414"
            class="icon"
            viewBox="0 0 1024 1024"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            p-id="2590"
            width="48"
            height="48"
          >
            <path
                d="M858.672762 512c0 185.563429-150.430476 335.993905-336.018286 335.993905-53.394286 0-103.936-12.458667-148.772571-34.645334l-24.454095 53.369905a393.069714 393.069714 0 0 0 173.226666 39.960381c217.965714 0 394.678857-176.713143 394.678857-394.678857 0-217.965714-176.688762-394.678857-394.678857-394.678857-203.53219 0-371.102476 154.087619-392.387047 352.01219H64l101.327238 138.678857 101.351619-138.678857H189.318095c20.967619-165.424762 162.206476-293.327238 333.312-293.327238 185.58781 0 336.018286 150.430476 336.018286 335.993905z"
                p-id="2591" fill="#ffffff"></path>
            <path
                d="M698.660571 484.278857a32.01219 32.01219 0 0 1 0 55.442286l-256 147.797333a32.01219 32.01219 0 0 1-47.981714-27.721143V364.202667a32.01219 32.01219 0 0 1 47.981714-27.721143l256 147.797333z m-245.321142-73.874286v203.215239L629.321143 512l-175.981714-101.61981z"
                p-id="2592" fill="#ffffff"></path>
          </svg>
        </div>
      </div>
      <div class="video-desc">
        <span class="color_font">*</span> Please note it does not resist ambient light. For use with ceiling light,<br>
        the best choice is our
        <a href="https://awolvision.com/products/100-120-motorized-floor-rising-projector-screen" class="color_font"
          >Ambient Light Rejecting (ALR) Motorized Floor Rising Screen.</a
        >
      </div>
    </div>
  </div>
  e
  <div class="section-common-sectionzoomout common_font_part">
    <div class="common_title hide common_title_animate">
      <h2 class="color_font">170° Large Viewing Angle</h2>
      <p>
        With up to 170 degrees viewing angle, every seat becomes the prime viewing spot, ensuring optimal visuals for
        your entire party.
      </p>
    </div>
    <div class="common_video">
      <div class="video_container common_video_animate">
        <video
          x5-playsinline="true"
          playsinline="true"
          webkit-playsinline="true"
          muted
          class="style__video"
          data-layzr-poster="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/gg.jpg?v=1712036201"
          style="opacity: 0.99;"
          poster="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/gg.jpg?v=1712036201"
        >
          <source
            type="video/mp4; codecs=&quot;avc1.4D401E, mp4a.40.2&quot;"
            src="https://cdn.shopify.com/videos/c/o/v/f642e171c22c4a7382ab853a362a59bd.mp4"
          >
        </video>
        <div class="video_replay">
          <svg
            t="1710214239414"
            class="icon"
            viewBox="0 0 1024 1024"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            p-id="2590"
            width="48"
            height="48"
          >
            <path
                d="M858.672762 512c0 185.563429-150.430476 335.993905-336.018286 335.993905-53.394286 0-103.936-12.458667-148.772571-34.645334l-24.454095 53.369905a393.069714 393.069714 0 0 0 173.226666 39.960381c217.965714 0 394.678857-176.713143 394.678857-394.678857 0-217.965714-176.688762-394.678857-394.678857-394.678857-203.53219 0-371.102476 154.087619-392.387047 352.01219H64l101.327238 138.678857 101.351619-138.678857H189.318095c20.967619-165.424762 162.206476-293.327238 333.312-293.327238 185.58781 0 336.018286 150.430476 336.018286 335.993905z"
                p-id="2591" fill="#ffffff"></path>
            <path
                d="M698.660571 484.278857a32.01219 32.01219 0 0 1 0 55.442286l-256 147.797333a32.01219 32.01219 0 0 1-47.981714-27.721143V364.202667a32.01219 32.01219 0 0 1 47.981714-27.721143l256 147.797333z m-245.321142-73.874286v203.215239L629.321143 512l-175.981714-101.61981z"
                p-id="2592" fill="#ffffff"></path>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="section-common-sectionzoomout common_font_part">
    <div class="common_title hide common_title_animate">
      <h2 class="color_font">90° Perfect Vertical Alignment</h2>
      <p>
        Crafted with a premium support stand to maintain the screen's perfect vertical alignment,<br>
        catering to those who seek the pinnacle of visual excellence.
      </p>
    </div>
    <div class="common_video">
      <div class="video_container common_video_animate">
        <video
          x5-playsinline="true"
          playsinline="true"
          webkit-playsinline="true"
          muted
          class="style__video"
          data-layzr-poster="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/gg.jpg?v=1712036201"
          style="opacity: 0.99;"
          poster="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/gg.jpg?v=1712036201"
        >
          <source
            type="video/mp4; codecs=&quot;avc1.4D401E, mp4a.40.2&quot;"
            data-layzr-src="https://cdn.shopify.com/videos/c/o/v/56635e732bb649a89ae9454bdbe2e6cf.mp4"
            src="https://cdn.shopify.com/videos/c/o/v/56635e732bb649a89ae9454bdbe2e6cf.mp4"
          >
        </video>
        <div class="video_replay">
          <svg
            t="1710214239414"
            class="icon"
            viewBox="0 0 1024 1024"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            p-id="2590"
            width="48"
            height="48"
          >
            <path
                d="M858.672762 512c0 185.563429-150.430476 335.993905-336.018286 335.993905-53.394286 0-103.936-12.458667-148.772571-34.645334l-24.454095 53.369905a393.069714 393.069714 0 0 0 173.226666 39.960381c217.965714 0 394.678857-176.713143 394.678857-394.678857 0-217.965714-176.688762-394.678857-394.678857-394.678857-203.53219 0-371.102476 154.087619-392.387047 352.01219H64l101.327238 138.678857 101.351619-138.678857H189.318095c20.967619-165.424762 162.206476-293.327238 333.312-293.327238 185.58781 0 336.018286 150.430476 336.018286 335.993905z"
                p-id="2591" fill="#ffffff"></path>
            <path
                d="M698.660571 484.278857a32.01219 32.01219 0 0 1 0 55.442286l-256 147.797333a32.01219 32.01219 0 0 1-47.981714-27.721143V364.202667a32.01219 32.01219 0 0 1 47.981714-27.721143l256 147.797333z m-245.321142-73.874286v203.215239L629.321143 512l-175.981714-101.61981z"
                p-id="2592" fill="#ffffff"></path>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="section-common-sectionzoomout common_font_part">
    <div class="common_title hide common_title_animate">
      <h2 class="color_font">Hassle-Free Installation</h2>
      <p>
        Say goodbye to the hassle of hours-long, complex installations associated with traditional wall-mounted screens.<br>
        This screen is plug & play.
      </p>
    </div>
    <div class="image_container common_image_animate">
      <img
        src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/anzhua464567ng.png?v=1716867481"
        alt="Comparison of traditional wall-mounted screen installation vs. easy floor-rising screen plug-and-play screen setup."
      >
    </div>
  </div>
  <div class="section-common-sectionzoomout common_font_part">
    <div class="common_title hide common_title_animate">
      <h2 class="color_font">Universally Compatible for Any Scene</h2>
      <p>Perfectly compatible with long-throw, short-throw, and ultra-short-throw projectors.</p>
    </div>
    <div class="image_container common_image_animate">
      <img
        class="pc"
        src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/1711699810546.png?v=1715328768"
        alt="AWOL Vision Matte White Motorized Floor Rising Screen is compatible with long-throw, short-throw, and ultra-short-throw projectors."
      >
      <img
        class="mobile"
        src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/20240525005637.png?v=1716569994"
        alt="AWOL Vision Matte White Motorized Floor Rising Screen is compatible with long-throw, short-throw, and ultra-short-throw projectors."
      >
    </div>
  </div>
  <div class="section-common-sectionzoomout common_font_part">
    <div class="common_title hide common_title_animate">
      <h2 class="color_font">Portable and Easy to Move</h2>
      <p>
        Unlike Wall-Mounted Screens, the motorized floor rising screen can be effortlessly moved to different rooms.
        Your personal cinema can be set<br>
        up exactly where you want it, providing the flexibility to enjoy your favorite movies, games, or presentations
        in any setting.
      </p>
    </div>
    <div class="common_img">
      <img
        src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/houseroom.png?v=1714111102"
        alt="Motorized floor rising screens offer easy portability, allowing you to set them up with minimal effort."
      >
    </div>
  </div>
  <div class="section-common-sectionzoomout common_font_part" style="margin-top: 0;">
    <div class="common_img" style="margin-top: 0;">
      <img
        class="pc"
        src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/f_w.jpg?v=1721210514"
        alt="Comparing AWOL Vision screens based on picture quality with light on/off, suggested room, screen type, and price."
      >
      <img
        class="mobile"
        src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/f_w_m.jpg?v=1721210514"
        alt="Comparing AWOL Vision screens based on picture quality with light on/off, suggested room, screen type, and price."
      >
    </div>
  </div>
  {% comment %} prat five end {% endcomment %}
</div>
<script src="{{ 'mw-template.js' | asset_url }}"></script>
{% schema %}
{
  "name": "MW Floor Screen", "class": "mw-floor-screen",
  "settings": [],
  "blocks":[],
  "presets": [
    {"name": "MW Floor Screen"}
  ]
}
{% endschema %}
