.progress_container ol {
    padding: 0;
    margin: 0;
}
.progress_container ol li {
    display: flex;
    flex-direction: column;
}
.progress_container ol li span {
    font-weight: 600;
}
.progress_container progress {
    appearance: none;
    margin-top: 10px;
    width: 100%;
    height: 8px;
    border: none;
    background: #e6e6e6;
}